/* -- import Roboto Font ---------------------------- */

@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/* -- You can use this sidebar in Bootstrap (v3) projects. HTML-markup like Navbar bootstrap component will make your work easier. -- */
/* -- Box model ------------------------------- */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* -- Demo style ------------------------------- */

html,
body {
    position: relative;
    min-height: 100%;
    height: 100%;
    background-color: #E8E8E8!important;
}
body {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    color: #212121;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto Condensed', sans-serif!important;
    font-weight: 400!important;
}
body::-webkit-scrollbar {
    width: 10px;

}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #2854A1;
  outline: 1px solid slategrey;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700!important;
}
.navbar-default{
    border-color: #2854A1!important;
}
/*nav bar*/

.form-inline {
    display: inline-block;
}
.navbar-header.col {
    padding: 0 !important;
}
.navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand {
    color: #555;
    padding-left: 0;
    padding-right: 50px;
    font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
    font-size: 20px;
    margin-right: 5px;
}
.search-box {
    position: relative;
}
.search-box input {
    box-shadow: none;
    padding-right: 35px;
    border-radius: 3px !important;
}
.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}
.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar .nav-item.open > a {
    background: none !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}
.navbar .dropdown-menu li a {
    color: #777;
    padding: 8px 20px;
    line-height: normal;
}
.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a:active {
    color: #333;
}
.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}
.navbar .badge {
    background: #fff;
    color: #2854A1;
    font-size: 11px;
    border-radius: 20px;
    position: absolute;
    min-width: 10px;
    padding: 4px 6px 0;
    min-height: 18px;
    top: 5px;
}
.navbar ul.nav li a.notifications,
.navbar ul.nav li a.messages {
    position: relative;
    margin-right: 10px;
}
.navbar ul.nav li a.messages {
    margin-right: 20px;
}
.navbar a.notifications .badge {
    margin-left: -8px;
}
.navbar a.messages .badge {
    margin-left: -4px;
}
.navbar .active a,
.navbar .active a:hover,
.navbar .active a:focus {
    background: transparent !important;
}
@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 1199px) {
    .form-inline {
        display: block;
        margin-bottom: 10px;
    }
    .input-group {
        width: 100%;
    }
}
/*sidebar*/

.sidebar-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: #000;
    z-index: 1034;
    -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.sidebar-overlay.active {
    opacity: 0.5;
    visibility: visible;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
}
.top-bar {
    height: 25px;
    background: rgba(0, 0, 0, 0.1);
}
/* -- Google typography ------------------------------- */

.headline {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    color: #212121;
    text-transform: inherit;
    letter-spacing: inherit;
}
.subhead {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    color: #212121;
    text-transform: inherit;
    letter-spacing: inherit;
}
/* -- Bootstrap-like style ------------------------------- */

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-menu {
    display: none;
}
/* -- Constructor style ------------------------------- */

.sidebar,
.wrapper {
    display: table-cell;
    vertical-align: top;
}
.sidebar-stacked.open + .wrapper .constructor {
    margin-left: 280px;
}
@media (max-width: 768px) {
    .sidebar-stacked.open + .wrapper .constructor {
        margin-left: 240px;
    }
}
.navbar {
    background: #283593!important;
}
.navbar-default {
    border: none;
}
.navbar-default .navbar-brand {
    color: #fff!important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff!important;
}
.in {
    background: #2854A1!important;
    color: #fff!important;
    padding-left: 50px!important;
}
a.nav-link.dropdown-toggle.user-action {
    font-size: 16px;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0px!important;
    }
}
md-toolbar._md-toolbar-transitions {
    min-height: 50px;
    max-height: 50px;
}
.notification-btn,
.message-btn {
    -moz-perspective: 800px;
    -webkit-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.notification-area,
.message-area {
    height: 310px;
    width: 300px;
    border: 1px solid grey;
    position: absolute;
    transform: rotateX(-88.3deg);
    background: #fff;
    color: black;
    transform-origin: 0px 0px;
    margin-left: -50px;
}
.notification-area .content,
.message-area .content {
    padding: 10px;
}
.notification-area .content .title,
.message-area .content .title {
    font-size: 16px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 10px;
}
.notification-btn:hover .notification-area,
.message-btn:hover .message-area {
    transition: all 0.5s;
    transform: rotateX(0deg);
}
.notification-area .notification-content,
.message-area .message-content {
    background: #f4f4f4;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}
.notification-area .notification-title,
.message-area .message-title {
    font-size: 15px;
}
.notification-area .notification-title a,
.message-area .message-title a {
    text-decoration: none;
    color: #2854A1;
}
.notification-area .notification-description,
.message-area .message-description {
    font-size: 14px;
    padding: 5px 10px;
}
.notification-area .date,
.message-area .date {
    font-size: 12px;
}
.notification-devider,
.message-devider {
    height: 10px;
}
/* -- Sidebar style ------------------------------- */

.sidebar {
    position: relative;
    display: block;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.sidebar:before,
.sidebar:after {
    content: " ";
    display: table;
}
.sidebar:after {
    clear: both;
}
.sidebar::-webkit-scrollbar-track {
    border-radius: 2px;
}
.sidebar::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7;
}
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #BFBFBF;
}
.sidebar .sidebar-header {
    position: relative;
    height: 64px;
    margin-bottom: 8px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-header.header-cover {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sidebar .sidebar-header:hover .sidebar-toggle {
    opacity: 1;
}
.sidebar .sidebar-toggle {
    position: relative;
    float: right;
    margin: 16px;
    padding: 0;
    background-image: none;
    border: none;
    height: 40px;
    width: 40px;
    font-size: 20px;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-toggle:before,
.sidebar .sidebar-toggle:after {
    content: " ";
    display: table;
}
.sidebar .sidebar-toggle:after {
    clear: both;
}
.sidebar .icon-material-sidebar-arrow:before {
    content: "\e610";
}
.sidebar .sidebar-icon {
    display: inline-block;
    margin-right: 16px;
    text-align: left;
    font-size: 22px;
    line-height: 48px;
}
.sidebar .sidebar-icon:before,
.sidebar .sidebar-icon:after {
    vertical-align: middle;
}
.sidebar .sidebar-nav {
    margin: 0;
    padding: 0;
}
.sidebar .sidebar-nav li {
      border-bottom: 1px solid #f7f7f7;
    position: relative;
    list-style-type: none;
}
.sidebar .sidebar-nav li a {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    padding-right: 0px;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-nav li a:hover,
.sidebar .sidebar-nav li a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.sidebar .sidebar-nav li a .caret {
    position: absolute;
    right: 8px;
    top: 24px;
}
.sidebar .sidebar-nav li a .sidebar-badge {
    position: absolute;
    right: 16px;
    top: 12px;
}
.sidebar .sidebar-nav li a:hover {
    background: transparent;
}
.sidebar .sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sidebar-default {
    background-color: #fff;
}
.sidebar-default .sidebar-header {
    background-color: #eceff1;
}
.sidebar-default .sidebar-toggle {
    color: #212121;
    background-color: transparent;
}
.sidebar-default .sidebar-brand {
    color: #757575;
    background-color: transparent;
}
.sidebar-default .sidebar-brand:hover,
.sidebar-default .sidebar-brand:focus {
    color: #212121;
    background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-default .sidebar-badge {
    color: #fff;
    background-color: #bdbdbd;
}
.sidebar-default .sidebar-divider,
.sidebar-default .sidebar-nav .divider {
    background-color: #bdbdbd;
}
.sidebar-default .sidebar-text {
    color: #212121;
}
.sidebar-default .sidebar-nav li > a {
    color: #212121;
    background-color: transparent;
}
.sidebar-default .sidebar-nav li > a i {
    color: #2854A1;
        width: 22px;
}
.sidebar-default .sidebar-nav li:hover > a,
.sidebar-default .sidebar-nav li > a:hover {
    color: #212121;
    background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav li:hover > a i,
.sidebar-default .sidebar-nav li > a:hover i {
    color: #757575;
}
.sidebar-default .sidebar-nav li:focus > a,
.sidebar-default .sidebar-nav li > a:focus {
    color: #212121;
    background-color: transparent;
}
.sidebar-default .sidebar-nav li:focus > a i,
.sidebar-default .sidebar-nav li > a:focus i {
    color: #757575;
}
.sidebar-default .sidebar-nav > .open > a,
.sidebar-default .sidebar-nav > .open > a:hover,
.sidebar-default .sidebar-nav > .open > a:focus {
    color: #212121;
    background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .active > a,
.sidebar-default .sidebar-nav > .active > a:hover,
.sidebar-default .sidebar-nav > .active > a:focus {
    color: #212121;
    background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .disabled > a,
.sidebar-default .sidebar-nav > .disabled > a:hover,
.sidebar-default .sidebar-nav > .disabled > a:focus {
    color: #e0e0e0;
    background-color: transparent;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu {
    background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
    background-color: #e0e0e0;
    color: #212121;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
    background-color: #cecece;
    color: #212121;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
    color: #212121;
    background-color: #e0e0e0;
}
.sidebar {
    width: 60px;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    overflow: hidden;
}
.sidebar:hover {
    min-width: 280px;
    width: 280px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.sidebar:hover .sidebar-link-text {
    display: inline-block;
}
/*.sidebar.open {
  min-width: 280px;
  width: 280px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}*/

.sidebar-fixed-left {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 50;
}
.sidebar-fixed-left {
    left: 0;
    top: 51px;
    overflow-y: scroll;
    padding-bottom: 51px;
    /*box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);*/
}
@media (max-width: 768px) {
    .sidebar.open {
        min-width: 240px;
        width: 240px;
    }
    .sidebar .sidebar-header {
        height: 64px;
    }
}
.sidebar-toggle {
    border: none;
    font-size: 25px;
    margin-top: 16px;
    margin-left: 25px;
    background: none;
}
.sidebar-link-text {
    display: none;
}
.page-container {
    margin-left: 20px;
   
}
.header,
.sidebar-header {
    background-color: #2854A1!important;
}
.header h2 {
    margin-top: 15px;
}
.fixed {
    position: fixed;
    z-index: 999;
}
.page-content {
    margin-top: 22px;
    background: #e8e8e8;
    padding-right: 0;
}
.page-title {
    margin-top: 22px;
    padding-left: 10px;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 5px grey;
    min-height: 65px;
   
}
.page-title-admin{
    margin-top: 22px;
    padding-left: 10px;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 5px grey;
    min-height: 65px;
}
.catalog-head h5,.page-title h4 {
    line-height: 44px;
}

.title {
    margin-top: 22px;
}
.devider {
    height: 20px;
}
.content-section {
    background: #fff;
    padding: 10px;
    margin-right: 60px;
}
.sub-menu-icon {
        font-size: 14px!important;
    margin-left: 13px;
}
/*footer*/
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  z-index: 3;
}

/*category page*/
md-content{
    background:#fff;
}
md-icon.md-hue-3.cat-action.material-icons {
    margin: 0px 6px;
    color: #2854A1;
    font-size: 20px;
}
md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    font-size: 11px;
}
md-list.flex {
    border-bottom: 1px dotted lightgray;
}
md-list.flex .fa{
    font-size: 20px;
}
#mceu_31,#mceu_30{
    display: none;
}
tbody{
    font-size: 14px;
}
.login-form {
    margin-top: 65px;
    margin-left: -51px;
}
.login-container{
    padding: 10px;
    background: #fff;
    z-index: 1;
}
.page-title a{
    text-decoration: none;
    color: #333;
    padding: 8px 14px; 
}
.navbar{
    margin-bottom: 0px!important;
}
.catalog-head{
    float: left;
}

.product-search{
    float: left;
}
.add-search-product{
    margin-right: 25px;
    margin-top: 10px;
}
.add-product-btn{
    float: left;
    margin: 12px 15px;
    padding: 6px 5px;
    border: 1px solid #333;
    font-size: 18px;
    border-radius: 3px;
}
.add-product-btn a{
    text-decoration: none;
    color: #2854A1;
}
.add-product-btn a:hover{
    text-decoration: none;
    color: #2854A1;
}
.add-product-btn i:before{
    font-size: 22px;
    padding-right: 10px;
}
.main-view{
    padding:0;
    margin-left: 51px;
}
.existing-product-search{
        margin: 0 15px!important;
}
.add-product-container{
    padding: 10px 20px;
}
.add-product-btn .single{
    padding: 0px 15px;
}
.add-single-product-btn{
   padding: 6px 23px;
    text-decoration: none;
    color: #2854A1;
    border: 1px solid #000;
}
.add-single-product-btn:hover{
    text-decoration: none;
    color: #2854A1;
}
.marginud-30{
    margin: 30px 0px;
}   
.card-media {
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden; }
.card-media img{
    height: 160px;
    width: 160px;
    
}
.card-media md-icon {
  width: 40px;
  height: 40px;
  color: rgba(255, 255, 255, 0.87); }
.md-headline a{
    color: #2854A1;
    text-decoration: none;
}
.md-headline a:hover{
    color: #2854A1;
    text-decoration: none;
}
.md-subhead.description {
  color: #ffffff!important;
   }

.attribute-store{
    margin:0!important; 
}
.profile-content{
    margin-left: 20px!important;
}
.profile-content .my-label{
    color: grey;
    padding: 10px 0px;
}
.add-config-btn{
    float: left;
    margin: 12px 15px;
    padding: 6px 5px;
    border: 1px solid #333;
    font-size: 18px;
    border-radius: 3px;
}
.add-config-btn a{
    text-decoration: none;
    color: #2854A1;
}
.add-config-btn a:hover{
    text-decoration: none;
    color: #2854A1;
}
.add-config-btn i:before{
    font-size: 22px;
    padding-right: 10px;
}
.login-options{
    margin: 0px 15px;
}
.signup-btn{
    text-align: right;
}
.login-side{
    margin: 15px 0px;
    height: 420px;
    background: #397cf1;
    color: #fff;
    box-shadow: -4px 5px 7px #888888;
}
.login-side-data {
    padding-top: 70px;
    text-align: center;
}
.login-side-data a{
    text-decoration: none;
    color: #fff;
}
.login-side-data a:hover{
    text-decoration: none;
    color: #fff;
}
.login-option-btn {
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    border: 2px solid #fff;
    border-radius: 3px;
    margin: 0px 60px;
}
.login-signup, .login-forget-pass, .login-signup h3, .login-forget-pass h3{
    padding-bottom: 20px;
}
.login-btn{
    text-align: right;
}
.signup-side{
    background: #397cf1;
    color: #fff;
    text-align: center;
    padding: 50px 0px;
}
.login-signup-btn{
    border: 2px solid #fff;
    font-size: 24px;
    margin: 0px 28%;
    border-radius: 3px;
}
.signup-side a{
    text-decoration: none;
    color: #fff;
}
.signup-side a:hover{
    text-decoration: none;
    color: #fff;
}
.signupform{
    margin-right: 12px;
}
.signup{
    min-height: 510px!important; 
}
.forget-form{
    margin-top: 100px;
}
.save-btn{
    font-size: 24px;
}
.msg-action-btn{
    text-align: right;
}
md-toast{
  z-index: 9999999!important;
  margin-top: 10px;
  position: fixed;
}
.col-lg-8.col-md-8.col-sm-6.col-xs-12.profile_data.ng-scope {
    border-right: 1px solid lightgray;
}
.profile-data-container{
    margin-left: 0!important;
    margin-right: 0!important;
    margin-top: 10px;
}
.detail-head{
    margin-right: 0px!important;
    margin-left: 0px!important;
    border-bottom: 2px solid #E40046;
}
.profile-details{
    border-bottom: 1px solid lightgray;
}
.profile-siedebar-details{
 border-bottom: 1px solid lightgray;
}
.new-notification-tab {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.new-notification-tab::-webkit-scrollbar {
    width: 10px;
}
 
.new-notification-tab::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.new-notification-tab::-webkit-scrollbar-thumb {
  background-color: #E40046;
  outline: 1px solid slategrey;
}
.col-lg-4.col-md-4.col-sm-6.col-xs-12.new-info-container-2 {
    margin-top: 20px;
}
.profile-data-2{
 margin-top: 20px;
 border: 1px solid lightgray;
    padding: 20px;
}
.upload-icon{
 font-size: 100px;
    color: #E40046;
}
.notification-icon{
 font-size: 40px;
 color: #E40046;
}
.notification-tab-icon{
 font-size: 40px;
 color: #E40046;
}
.memberimg{
    margin-top: 40px;
}
.sidebar-fixed-right{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1035;
}
.sidebar-fixed-right{
    right: 0;
    top: 51px;
    overflow-y: scroll;
    padding-bottom: 51px;
}
.about-sec{
    min-height: 800px;
}
.input-btn-hide{
    display: none !important;
}

