body{
     font-family: 'Quicksand', sans-serif;
}
.form_row{margin-bottom: 5px;}
.form_label{display: inline-block;width: 250px;text-align: right;}
.form_field{display: inline-block; vertical-align: middle;}
.div_service{margin-top:4%;padding-bottom:10%;}
.list_1 li{padding: 5px 0;}
.list_1 li a{color: #18a018;font-weight: bold;}
.list_1 {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    margin-left: 1.1em;

}
.list_1 a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    width: 40%;
}

.list_1 a:hover{
    background: #080;
    color: #ffffff;
}

.list_1 a:hover:before {
    background: none repeat scroll 0 0 #080;
    border: 0.3em solid #fff;
    border-radius: 2em;
    content: counter(li, decimal);
    counter-increment: li;
    font-weight: bold;
    height: 2em;
    left: -1.3em;
    line-height: 2em;
    margin-left: 0.1em;
    margin-top: -1.3em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: rotate(360deg);
    transition: all 0.3s ease-out 0s;
    width: 2em;
    color: #fff;
  }

.list_1 a:before {
    background: none repeat scroll 0 0 #614126;
    content: counter(li, decimal);
    counter-increment: li;
    font-weight: bold;
    height: 2.1em;
    left: -2.5em;
    line-height: 2em;
    margin-left: 1.4em;
    margin-top: -1.1em;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.3s ease-out 0s;
    width: 2em;
   color: #97ec97;
  }

input[type="text"],input[type="password"],  textarea{
    width: 250px;
    height: 25px;
    border: 1px solid #97ec97;
    padding: 5px;

}
textarea{
    height: 50px;
}
h3, h2 {
  color: #080;
}
select{
    width: 262px;
    border: 1px solid #97ec97;
    height: 35px;
    background-color: #fff;
}
.form_field .desc{
    width: auto;
    float: right;
    margin-left:10px;
    font-size: 14px;
    color: #080;
}
input[type="submit"], input[type="button"] {
    background-color: #58bf58;
    border: 1px solid #97ec97;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    height: 40px;
    padding: 5px;
    width: 140px;
  }
a{
    text-decoration: none;
}
select option {
    height: 25px;
    vertical-align: middle;
  }
  select option:hover{
    background-color:#97ec97;
  }
  p {
    color: #080;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding-left: 2em;
}
.multi-list {
    display: inline-block;
    height: auto;
    max-height: 70px;
}
ul {
    list-style: none outside none;
}
ul li a {
    color: #080;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}
