<div ng-controller="configCtrl" layout="column" class="md-inline-form">
  <div class="page-title-admin title">
    <h4><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Add Seller</h4>
  </div>
  <div class="devider"></div>
  <div style="margin-left: 100px;">
  </div>

  <div class="page-container" ng-init="fetch_seller_data()">
   
    <div class="col-lg-6 col-md-6  content-section">
      <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
      <form name="addsellerForm" ng-submit="updateseller(addsellerForm,ev)">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerCategory.$invalid && addsellerForm.sellerCategory.$dirty, 'has-success': addsellerForm.sellerCategory.$valid }">
            <label> Category</label>
            <md-select ng-model="seller.sellerCategory" ng-init="fetch_category()">
              <md-option  value="0" > Select Parent </md-option>
              <md-option  ng-repeat="cat in categoryData" value="{{cat.categoryId}}" ng-selected="selected"> {{cat.categoryName}} </md-option>
            </md-select>
            <div ng-messages="addsellerForm.sellerCategory.$dirty && addsellerForm.sellerCategory.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Company name is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerCompanyName.$invalid && addsellerForm.sellerCompanyName.$dirty, 'has-success': addsellerForm.sellerCompanyName.$valid }">
            <label> Company Name</label>
            <input name="sellerCompanyName" type="text" ng-model="seller.sellerCompanyName" required>
            <div ng-messages="addsellerForm.sellerCompanyName.$dirty && addsellerForm.sellerCompanyName.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Company name is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerDisplayName.$invalid && addsellerForm.sellerDisplayName.$dirty, 'has-success': addsellerForm.sellerDisplayName.$valid }">
            <label>Company Display Name</label>
            <input name="sellerDisplayName"  type="text" ng-model="seller.sellerDisplayName" required>
            <div ng-messages="addsellerForm.sellerDisplayName.$dirty && addsellerForm.sellerDisplayName.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Company display name is required.</div>
            </div>
          </md-input-container>
        </div>
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerMobileNumber.$invalid && addsellerForm.sellerMobileNumber.$dirty, 'has-success': addsellerForm.sellerMobileNumber.$valid }">
            <label> Mobile Number</label>
            <input name="sellerMobileNumber"  type="text" ng-model="seller.sellerMobileNumber" required >
            <div ng-messages="addsellerForm.sellerMobileNumber.$dirty && addsellerForm.sellerMobileNumber.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Mobile No is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerPrimaryEmail.$invalid && addsellerForm.sellerPrimaryEmail.$dirty, 'has-success': addsellerForm.sellerPrimaryEmail.$valid }">
            <label>Primary Email</label>
            <input name="sellerPrimaryEmail" type="Email" ng-model="seller.sellerPrimaryEmail" required>
            <div ng-messages="addsellerForm.sellerPrimaryEmail.$dirty && addsellerForm.sellerPrimaryEmail.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Primary Email is required.</div>
            </div>
          </md-input-container>
         </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerShippingAddress.$invalid && addsellerForm.sellerShippingAddress.$dirty, 'has-success': addsellerForm.sellerShippingAddress.$valid }">
            <label>Shipping Address</label>
            <input name="sellerShippingAddress" type="text" ng-model="seller.sellerShippingAddress" required>
            
          </md-input-container>
          
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerCity.$invalid && addsellerForm.sellerCity.$dirty, 'has-success': addsellerForm.sellerCity.$valid }">
            <label>City</label>
            <input name="City" type="text" ng-model="seller.sellerCity" required>
            <div ng-messages="addsellerForm.sellerCity.$dirty && addsellerForm.sellerCity.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Commission is required.</div>
            </div>
          </md-input-container>

           <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerPincode.$invalid && addsellerForm.sellerPincode.$dirty, 'has-success': addsellerForm.sellerPincode.$valid }">
            <label>Pincode</label>
            <input name="City" type="text" ng-model="seller.sellerPincode" required>
            <div ng-messages="addsellerForm.sellerPincode.$dirty && addsellerForm.sellerPincode.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Pincode is required.</div>
            </div>
          </md-input-container>
          
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerState.$invalid && addsellerForm.sellerState.$dirty, 'has-success': addsellerForm.sellerState.$valid }">
            <label>State</label>
            <input name="sellerState" type="text" ng-model="seller.sellerState" required>
            <div ng-messages="addsellerForm.sellerState.$dirty && addsellerForm.sellerState.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Confirm Password is required.</div>
            </div>
          </md-input-container>
          
        </div>
        <div layout-gt-sm="row" flex-gt-sm>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerCompanyPan.$invalid && addsellerForm.sellerCompanyPan.$dirty, 'has-success': addsellerForm.sellerCompanyPan.$valid }"> 
            <label>Company Pan</label>
             <input name="sellerCompanyPan" type="text" ng-model="seller.sellerCompanyPan" >
            <div ng-messages="addsellerForm.sellerCompanyPan.$dirty && addsellerForm.sellerCompanyPan.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Role is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerGstin.$invalid && addsellerForm.sellerGstin.$dirty, 'has-success': addsellerForm.sellerGstin.$valid }">
            <label> GSTIN</label>
            <input name="sellerGstin"  type="text" ng-model="seller.sellerGstin" >
            <div ng-messages="addsellerForm.sellerGstin.$dirty && addsellerForm.sellerGstin.$error" role="alert" required>
              <div ng-message="required" class="my-message">Gstin is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerVatTin.$invalid && addsellerForm.sellerVatTin.$dirty, 'has-success': addsellerForm.sellerVatTin.$valid }">
            <label>VAT TIN</label>
            <input name="sellerVatTin" type="text" ng-model="seller.sellerVatTin" >
            <div ng-messages="addsellerForm.sellerVatTin.$dirty && addsellerForm.sellerVatTin.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Vat tin is required.</div>
            </div>
          </md-input-container>
         </div>

         <div layout-gt-sm="row" flex-gt-sm>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerBenificiary.$invalid && addsellerForm.sellerBenificiary.$dirty, 'has-success': addsellerForm.sellerBenificiary.$valid }"> 
            <label>Benificiary Name</label>
             <input name="sellerBenificiary" type="text" ng-model="seller.sellerBenificiary" >
            <div ng-messages="addsellerForm.sellerBenificiary.$dirty && addsellerForm.sellerBenificiary.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Benificiary is required.</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row" flex-gt-sm>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerCurrentAcc.$invalid && addsellerForm.sellerCurrentAcc.$dirty, 'has-success': addsellerForm.sellerCurrentAcc.$valid }"> 
            <label>Current Account No</label>
             <input name="sellerCurrentAcc" type="text" ng-model="seller.sellerCurrentAcc" >
            <div ng-messages="addsellerForm.sellerCurrentAcc.$dirty && addsellerForm.sellerCurrentAcc.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Current Account No is required.</div>
            </div>
          </md-input-container>
        </div>
        
         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerIfsc.$invalid && addsellerForm.sellerIfsc.$dirty, 'has-success': addsellerForm.sellerIfsc.$valid }">
            <label> IFSC</label>
            <input name="sellerIfsc"  type="text" ng-model="seller.sellerIfsc"  >
            <div ng-messages="addsellerForm.sellerIfsc.$dirty && addsellerForm.sellerIfsc.$error" role="alert" required>
              <div ng-message="required" class="my-message">IFSC is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerBranchName.$invalid && addsellerForm.sellerBranchName.$dirty, 'has-success': addsellerForm.sellerBranchName.$valid }">
            <label>Branch Name</label>
            <input name="sellerBranchName" type="text" ng-model="seller.sellerBranchName">
            <div ng-messages="addsellerForm.sellerBranchName.$dirty && addsellerForm.sellerBranchName.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Branch Name is required.</div>
            </div>
          </md-input-container>
         </div>

         <div layout-gt-sm="row" flex-gt-sm>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerSoftCode.$invalid && addsellerForm.sellerSoftCode.$dirty, 'has-success': addsellerForm.sellerSoftCode.$valid }"> 
            <label>Swift Code</label>
             <input name="sellerSoftCode" type="text" ng-model="seller.sellerSoftCode">
            <div ng-messages="addsellerForm.sellerSoftCode.$dirty && addsellerForm.sellerSoftCode.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Swift Code is required.</div>
            </div>
          </md-input-container>
        </div>

         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.status.$invalid && addsellerForm.status.$dirty, 'has-success': addsellerForm.status.$valid }">
            <label>Status :</label>
             <md-select ng-model="seller.sellerStatus" >
              <md-option  value="0" > Select Status </md-option>
              <md-option  value="Active" > Active </md-option>
              <md-option  value="Deleted" > Deleted </md-option>
              <md-option  value="Inactive" > Inactive </md-option>
              <md-option  value="Pending4" > Pending </md-option>
            </md-select>
            <div ng-messages="addsellerForm.categoryStatus.$dirty && addsellerForm.categoryStatus.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Status is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': addsellerForm.sellerSubscription.$invalid && addsellerForm.sellerSubscription.$dirty, 'has-success': addsellerForm.sellerSubscription.$valid }">
            <label>Subscription :</label>
             <md-select ng-model="seller.sellerSubscription" >
              <md-option  value="0" > Select Subscription </md-option>
              <md-option  value="Active" > Active </md-option>
              <md-option  value="Deleted" > Deleted </md-option>
              <md-option  value="Inactive" > Inactive </md-option>
              <md-option  value="Suspended" > Suspended </md-option>
            </md-select>
            <div ng-messages="addsellerForm.sellerSubscription.$dirty && addsellerForm.sellerSubscription.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Status is required.</div>
            </div>
          </md-input-container>
        </div>
         <div layout-gm-sm="row">
          <md-button class="md-raised md-primary" type="submit" ng-disabled="addsellerForm.username.$invalid || addsellerForm.email.$invalid || addsellerForm.firstname.$invalid || addsellerForm.lastname.$invalid || addsellerForm.password.$invalid || addsellerForm.c_password.$invalid  || addsellerForm.role.$invalid" >Submit</md-button>
          <md-button class="md-raised md-primary" ng-click="resetData('seller')">Reset</md-button>
        </div>
      </form>
    </div>

    <div class="col-md-4 col-lg-4 col-xs-6 content-section">
       <div layout-gm-sm="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile_data profile-data-2">
              <div class="row">
                <h4 class="text-center">Upload Pictures</h4>
              </div>
              <div class="text-center">
                <div class="row col-xs-6">
                  <h5>Your Photo</h5>
                  <div class="upload-icon">
                    <i class="ion-ios-cloud-upload-outline"></i>
                  </div>
                  <h5>Choose a file</h5>
                  <md-input-container class="md-block" flex-gt-sm>
                    <input type="file" value="" id="profileImage" name="profileImage" ng-model="data.profileImage" class="input-btn-hide" onchange="angular.element(this).scope().LoadFileData(this.files)" />
                    <md-button class="md-raised md-warn" ng-click="clickUpload('profileImage')"  >Upload Document</md-button>
                  </md-input-container>
                </div>
                <div class="row col-xs-6">
                  <h5>Shop Photo</h5>
                  <div class="upload-icon">
                    <i class="ion-ios-cloud-upload-outline"></i>
                  </div>
                  <h5>Choose a file</h5>
                  <md-input-container class="md-block" flex-gt-sm>
                    <input type="file" value="" id="shopImage" name="shopImage" ng-model="data.shopImage" onchange="angular.element(this).scope().LoadFileData(this.files)" class="input-btn-hide"/>
                    <md-button class="md-raised md-warn"  ng-click="clickUpload('addressProof',shopImage)">Upload Document</md-button>
                  </md-input-container>
                </div>
              </div>
              
            </div>
          </div>
    </div>
    
  </div>
</div>