<div ng-controller="configCtrl" layout="column" class="md-inline-form">
  <div class="page-title-admin title">
    <h4><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Add Sub Category</h4>
  </div>
  <div class="devider"></div>
  <div style="margin-left: 100px;">
  </div>

  <div class="page-container">

    <div class="col-lg-6 col-md-6  content-section">
      <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
      <md-subheader class="md-primary">Submit Brand</md-subheader>

      <form name="submitBrandForm" ng-submit="insert_brand(submitBrandForm,ev)" >
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': submitBrandForm.subCategoryName.$invalid && submitBrandForm.subCategoryName.$dirty, 'has-success': submitBrandForm.subCategoryName.$valid }">
              <label>Select Sub Category</label>
	             <md-select ng-model="brand.subCategoryName" ng-init="fetch_subcategory()">
	              <md-option  value="0" > Select Sub Category </md-option>
	              <md-option  ng-repeat="brands in brand" value="{{brands.categoryId}}" ng-selected="selected"> {{brands.categoryName}} </md-option>
	            </md-select>
                <div ng-messages="submitBrandForm.subCategoryName.$dirty && submitBrandForm.subCategoryName.$error" >
                  <div ng-message="required">Pattern is required.</div>
                </div>
            </md-input-container>
          </div>

           <div layout-gm-sm="row">
            <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': submitBrandForm.subCategoryName.$invalid && submitBrandForm.subCategoryName.$dirty, 'has-success': submitBrandForm.subCategoryName.$valid }">
              <label>Brand Name</label>
	             <input name="brandName" type="text" ng-model="brand.brandName">
     
            </md-input-container>
             </div>

            <div layout-gm-sm="row">
            <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': submitBrandForm.subCategoryName.$invalid && submitBrandForm.subCategoryName.$dirty, 'has-success': submitBrandForm.subCategoryName.$valid }">
              <label>Product Code</label>
	             <input name="brandProductCode" type="text" ng-model="brand.brandProductCode" required>
                <div ng-messages="submitBrandForm.brandProductCode.$dirty && submitBrandForm.brandProductCode.$error" >
                  <div ng-message="required">Product Code is required.</div>
                </div>
            </md-input-container>
            </div>

            <div layout-gm-sm="row">
             <md-button class="md-raised md-primary" type="submit"  ng-style="disable_edit">Submit</md-button>
          <md-button class="md-raised md-primary" ng-click="resetData('brand')">Reset</md-button>
      </div>
          </div>
      </form>
  </div>
  </div>
</div>