<div ng-controller="configCtrl" layout="column" class="md-inline-form">
	<div class="page-title-admin catalogpagetitle">
		<div class="catalog-head" ng-init="get_sellerStatus_count()"><h5><a href="#">active ({{activeSeller}})</a> <a href="#">Inactive ({{inactiveSeller}})</a></h5></div>
		<div class="pull-right product add-search-product">
		</div>
	</div>
	<div class="devider"></div>

	<div class="page-container">

		<div class=" content-section">
			<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div> 
			<div class="row">
				<div class="pull-left col-sm-2 col-xs-12">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Result Per Page</label>
						<md-select ng-model="filters">
							<md-option  value="10">10</md-option>
							<md-option  value="50">50</md-option>
							<md-option  value="100">100</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div class=" pull-right col-sm-4">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Search</label>
						<input ng-model="searchUser" >
					</md-input-container>
				</div>
			</div>
			<form name="sellerForm" ng-init="get_seller_data()">
				<div layout-gt-sm="row">
					<table class="table table-responsive table-striped">
						<thead>
							<tr>
								<th ng-click="sortType = 'username'; sortReverse = !sortReverse">
									Username
									<span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="sortType = 'name'; sortReverse = !sortReverse">
									Seller Name
									<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="sortType = 'shopname'; sortReverse = !sortReverse">
									Company Name
									<span ng-show="sortType == 'shopname' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'shopname' && sortReverse" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="sortType = 'email'; sortReverse = !sortReverse">
									E-mail
									<span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="sortType = 'products'; sortReverse = !sortReverse">
									Mobile Number
									<span ng-show="sortType == 'products' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'products' && sortReverse" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="sortType = 'balance'; sortReverse = !sortReverse">
									Seller Address
									<span ng-show="sortType == 'balance' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'balance' && sortReverse" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="sortType = 'pan'; sortReverse = !sortReverse">
									Company PAN
									<span ng-show="sortType == 'pan' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'pan' && sortReverse" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="sortType = 'gst'; sortReverse = !sortReverse">
									GSTIN
									<span ng-show="sortType == 'gst' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'gst' && sortReverse" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="sortType = 'gst'; sortReverse = !sortReverse">
									Vat/Tin
									<span ng-show="sortType == 'gst' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'gst' && sortReverse" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="sortType = 'status'; sortReverse = !sortReverse">
									Status
									<span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="sortType = 'status'; sortReverse = !sortReverse">
									Subscription Status
									<span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
								</th>
								<th ng-click="sortType = 'status'; sortReverse = !sortReverse">
									Joining Date
									<span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
								</th>

							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="seller in sellers | orderBy:sortType:sortReverse | filter:searchUser">
								<td>{{seller.userName}}<br><a ng-click="change_seller_status(seller.sellerId)">{{seller.sellerStatus === 'ACTIVE'? 'Make Inactive':'Make Active'}} </a> <a ui-sref="addsellerinfo({SellerId:{{seller.sellerId}}})" class="btn-mrg-left"> Edit</a>  <a ui-sref="edit_subcategory({SellerId:{{seller.sellerId}}})" class="btn-mrg-left"> Edit Subcategory</a></td>
								<td>{{seller.sellerName}}</td>
								<td>{{seller.sellerCompanyName}}</td>
								<td>{{seller.sellerEmail}}</td>
								<td>{{seller.sellerContactno}}</td>
								<td>{{seller.sellerCity}},{{seller.sellerState}},{{seller.sellerPincode}}</td>
								<td>{{seller.sellerCompanyPan}}</td>
								<td>{{seller.sellerGstin}}</td>
								<td>{{seller.sellerVat}}</td>
								<td>{{seller.sellerStatus}}</td>
								<td>{{seller.sellerSubscription}}</td>
								<td>{{seller.sellerJoinDate}}</td>

							</tr>

						</tbody>
					</table>

				</div>
			</form>
		</div>
	</div>
</div>