<div ng-controller="configCtrl" layout="column" class="md-inline-form">
  <div class="page-title catalogpagetitle">
    <div class="catalog-head" ng-init="get_userStatus_count()"><h5>View & Manage User Details<a href="#">active({{activeUser}})</a> <a href="#">Inactive ({{inactiveUser}})</a></h5></div>
    <div class="pull-right product add-search-product">
      <div class="product add-product-btn">
        <a ui-sref="adduser"><i class="ion-plus-circled"></i> Add User</a>
      </div>
    </div>
  </div>
  <div class="devider"></div>
    
        
  <div class="page-container">
    <div class=" content-section">
      <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
      <div class="row">
        <div class="pull-left col-sm-2 col-xs-12">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Result Per Page</label>
            <md-select ng-model="filters">
              <md-option  value="10">10</md-option>
              <md-option  value="50">50</md-option>
              <md-option  value="100">100</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class=" pull-right col-sm-4">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Search</label>
            <input ng-model="searchUser" >
          </md-input-container>
        </div>
      </div>
      <form name="adduserForm" ng-init="get_alluser_data()">
        <div layout-gt-sm="row">
          <table class="table table-responsive table-striped">
            <thead>
              <tr>
                <th ng-click="sortType = 'userName'; sortReverse = !sortReverse">
                  Username
                  <span ng-show="sortType == 'userName' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'userName' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th ng-click="sortType = 'userFirstName'; sortReverse = !sortReverse">
                  Name
                  <span ng-show="sortType == 'userFirstName' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'userFirstName' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th ng-click="sortType = 'userDob'; sortReverse = !sortReverse">
                  DOB
                  <span ng-show="sortType == 'userDob' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'userDob' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th ng-click="sortType = 'userGender'; sortReverse = !sortReverse">
                  Gender
                  <span ng-show="sortType == 'userGender' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'userGender' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th ng-click="sortType = 'userEmail'; sortReverse = !sortReverse">
                    E-mail
                    <span ng-show="sortType == 'userEmail' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'userEmail' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th ng-click="sortType = 'userContactNo'; sortReverse = !sortReverse">
                    Phone Number
                    <span ng-show="sortType == 'userContactNo' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'userContactNo' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th ng-click="sortType = 'userRole'; sortReverse = !sortReverse">
                    Role
                    <span ng-show="sortType == 'userRole' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'userRole' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th ng-click="sortType = 'userStatus'; sortReverse = !sortReverse">
                    Status
                    <span ng-show="sortType == 'userStatus' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'userStatus' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th ng-click="sortType = 'userActivity'; sortReverse = !sortReverse">
                    Activity
                    <span ng-show="sortType == 'userActivity' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'userActivity' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th ng-click="sortType = 'userSubscriptionStatus'; sortReverse = !sortReverse">
                    Subscription Status
                    <span ng-show="sortType == 'userSubscriptionStatus' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'userSubscriptionStatus' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th ng-click="sortType = 'userJoined'; sortReverse = !sortReverse">
                    Joined Date
                    <span ng-show="sortType == 'userJoined' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'userJoined' && sortReverse" class="fa fa-caret-up"></span>
                </th>
              </tr>
            </thead>
            <tbody>

              <tr ng-repeat="user in alluser | orderBy:sortType:sortReverse | filter:searchUser">
                <td>{{user.userName}}<br><a ng-click="change_user_status(user.userId)">{{user.userStatus === 'ACTIVE'? 'Make Inactive':'Make Active'}} </a></td>
                <td>{{user.userFirstName}} {{user.userLastName}}</td>
                <td>{{user.userDob}}</td>
                <td>{{user.userGender}}</td>
                <td>{{user.userEmail}}</td>
                <td>{{user.userContactNo}}</td>
                <td>{{user.userRole}}</td>
                <td>{{user.userStatus}}</td>
                <td>{{user.userActivity === 'ACTIVE'? 'ONLINE':'OFFLINE'}}</td>
                <td>{{user.userSubscriptionStatus}}</td>
                <td>{{user.userJoined}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>