<div ng-controller="configCtrl" layout="column" class="md-inline-form">
  <div class="page-title catalogpagetitle">
    <div class="catalog-head"><h5><a href="#">active (25)</a> <a href="#">Inactive (5)</a></h5></div>
    <div class="pull-right">
      <form></form>
      <div class="product add-product-btn">
        <a ui-sref="adduser"><i class="ion-plus-circled"></i> Add User</a>
      </div>
    </div>
  </div>
  <div class="devider"></div>
  <div class="page-container  ">
    <div class=" content-section" ng-init="get_profile()">
      <h5>Basic Details</h5>
      <div class="row profile-content" ng-repeat="list in lists">
        <div class="col-lg-6 col-lg-6 col-lg-6 col-lg-6 my-label">{{list.title}}</div>
        <div class="col-lg-6">{{list.value}}</div>
      </div>
    </div>
  </div>
</div>