<div ng-controller="UserCtrl" layout="column" class="md-inline-form" >
	<div class="page-title title">
		<h4 ><i class="ion-card" aria-hidden="true"></i>   <span>DASHBOARD</span></h4> </div>
	<div class="devider"></div>

	<div class="page-container">
		<div class="row">

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">  
				<md-card md-colors="::{backgroundColor: 'default-primary-800'}">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">SALE</span>
							<span class="md-subhead description"></span>
						</md-card-title-text>
						<md-card-title-media>
							<div class="md-media-sm card-media">
								<div class="md-media-sm card-media" layout md-colors="::{background: 'default-accent'}">
									<md-icon md-svg-icon="person"></md-icon>
								</div>
							</div>
						</md-card-title-media>
					</md-card-title>
					<md-card-actions layout="row" layout-align="start center">

						<md-button layout md-colors="::{background: 'default-accent'}" ng-click="showProfileSettings($event)">Settings</md-button>

					</md-card-actions>
				</md-card>     
			</div>

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">  
				<md-card md-colors="::{backgroundColor: 'default-primary-800'}">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">PURCHASE</span>
							<span class="md-subhead description"></span>
						</md-card-title-text>
						<md-card-title-media>
							<div class="md-media-sm card-media">
								<div class="md-media-sm card-media" layout md-colors="::{background: 'default-accent'}">
									<md-icon md-svg-icon="person"></md-icon>
								</div>
							</div>
						</md-card-title-media>
					</md-card-title>
					<md-card-actions layout="row" layout-align="start center">

						<md-button layout md-colors="::{background: 'default-accent'}" ng-click="showProfileSettings($event)">Settings</md-button>

					</md-card-actions>
				</md-card>     
			</div>

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">  
				<md-card md-colors="::{backgroundColor: 'default-primary-800'}">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">USER'S</span>
							<span class="md-subhead description"></span>
						</md-card-title-text>
						<md-card-title-media>
							<div class="md-media-sm card-media">
								<div class="md-media-sm card-media" layout md-colors="::{background: 'default-accent'}">
									<md-icon md-svg-icon="person"></md-icon>
								</div>
							</div>
						</md-card-title-media>
					</md-card-title>
					<md-card-actions layout="row" layout-align="start center">

						<md-button layout md-colors="::{background: 'default-accent'}" ng-click="showProfileSettings($event)">Settings</md-button>

					</md-card-actions>
				</md-card>     
			</div>

			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">  
				<md-card md-colors="::{backgroundColor: 'default-primary-800'}">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">ORDERS</span>
							<span class="md-subhead description"></span>
						</md-card-title-text>
						<md-card-title-media>
							<div class="md-media-sm card-media">
								<div class="md-media-sm card-media" layout md-colors="::{background: 'default-accent'}">
									<md-icon md-svg-icon="person"></md-icon>
								</div>
							</div>
						</md-card-title-media>
					</md-card-title>
					<md-card-actions layout="row" layout-align="start center">

						<md-button layout md-colors="::{background: 'default-accent'}" ng-click="showProfileSettings($event)">Settings</md-button>

					</md-card-actions>
				</md-card>     
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<md-card>
					<form name="sellerForm" ng-init="getslottoken()">
						<div layout-gt-sm="row"  class="md-padding">
							<table class="table table-responsive table-striped">
								<thead>
									<tr>
										<th ng-click="sortType = 'username'; sortReverse = !sortReverse">
											ICO
											<span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
										</th>
										<th ng-click="sortType = 'name'; sortReverse = !sortReverse">
											Open Time
											<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
										</th>
										<th ng-click="sortType = 'shopname'; sortReverse = !sortReverse">
											Month/Round Token
											<span ng-show="sortType == 'shopname' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'shopname' && sortReverse" class="fa fa-caret-up"></span>
										</th>
										<th ng-click="sortType = 'email'; sortReverse = !sortReverse">
											Price (USD)
											<span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
										</th>
										<th ng-click="sortType = 'products'; sortReverse = !sortReverse">
											Status
											<span ng-show="sortType == 'products' && !sortReverse" class="fa fa-caret-down"></span>
											<span ng-show="sortType == 'products' && sortReverse" class="fa fa-caret-up"></span>
										</th>							</tr>
								</thead>
								<tbody>
									<tr ng-repeat="slot in icotokenata">
										<td>#{{$index + 1}}</td>
										<td>{{slot.m_slot_startdate}}</td>
										<td>{{slot.m_slot_amount}}</td>
										<td>{{slot.m_slot_token_rate | currency}}</td>
										<td>SOLD</td>
									</tr>
								</tbody>
							</table>

						</div>
					</form>
				</md-card>
			</div>
		</div>

		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-init="getAdminBTCAdrress()">
				<md-card>
					<div layout="column" ng-cloak>
						<md-toolbar class="md-primary">
							<div class="md-toolbar-tools">
								<h2 class="md-flex">BUY TOKENS NOW</h2>
							</div>
						</md-toolbar>
						<md-content  class="md-padding">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Enter BTC</label>
									<input ng-model="user.btcAddress" readonly>
								</md-input-container>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Enter Amount (In USD)</label>
									<input ng-model="user.usdAmount" ng-blur="usdtobtc()">
								</md-input-container>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<md-input-container class="md-block" flex-gt-sm>
									<label>Enter Amount (In BTC)</label>
									<input ng-model="user.BTCAmount" readonly>
								</md-input-container>
							</div>

							<md-button class="md-raised md-sm md-primary" ng-click="buytoken()">Buy Coin</md-button>
						</md-content>
					</div>
				</md-card>
			</div>


			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<md-card>
					<div layout="column" ng-cloak>
						<md-toolbar class="md-primary">
							<div class="md-toolbar-tools">
								<h2 class="md-flex">ICO COUNTDOWN</h2>
							</div>
						</md-toolbar>
						<md-content flex layout-padding>
							<center>
								<h4>
									ICO stage 4th round is opened. Buy jgn price $1.115 now!<br>
									The round will be closed in.
								</h4>
							</center>
							<section layout="row" layout-align="center center">
								Hours
								<md-button class="md-fab md-mini md-primary" aria-label="Use Android">
									12
								</md-button>
								Minutes
								<md-button class="md-fab md-mini md-primary" aria-label="Use Android">
									12
								</md-button>
								second
								<md-button class="md-fab md-mini md-primary" aria-label="Use Android">
									12
								</md-button>
							</section>
							<section layout="row" layout-align="center center">
								<div class="col-md-1">Sold</div>
								<div class="col-md-8">
									<md-progress-linear md-mode="determinate" value="60"></md-progress-linear>
								</div>
								<div class="col-md-3">2,13,25,254 Coin</div>
							</section>

						</md-content>

					</div>
				</md-card>
			</div>


			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

				<md-card ng-init="userOrder()">
					<div layout="column" ng-cloak>
						<md-toolbar class="md-primary">
							<div class="md-toolbar-tools">
								<h2 class="md-flex">YOUR ORDER</h2>
							</div>
						</md-toolbar>
						
						<md-content flex layout-padding>
							<md-card>
								
								<md-card-content>
									
									<table class="table table-responsive table-striped">
										<thead>
											<tr>
												<th>
													SN.
												</th>
												<th>
													Invoice Id
												</th>
												<th>
													Token
												</th>
												<th>
													Price (In BTC)
												</th>
												<th>
													Status
												</th>
												<th>
													Date
												</th>							
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="order in orderHistory">
												<td>#{{$index + 1}}</td>
												<td>{{order.t_invoice_id}}</td>
												<td>{{order.t_amount}}</td>
												<td>{{order.t_btc_rate}}</td>
												<td>{{order.t_status}}</td>
												<td>{{ order.t_date}}</td>
											</tr>
										</tbody>
									</table>
									
								</md-card-content>
								
							</md-card>
						</md-content>
					</div>
				</md-card>
			</div>
		</div>
	</div>
</div>