<md-dialog aria-label="Change Password" ng-controller="UserCtrl">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Change Password</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<p>
				<div class="alert alert-{{alerts.cp.type}} alert-dismissable">
					<a class="panel-close close" data-dismiss="alert">×</a>
					{{alerts.cp.msg}}
				</div>  
				<form id="Editpassword" name="Editpassword" class="form-Editpassword"  method="post">
					<md-input-container class="md-block" flex-gt-sm >
						<label>Existing password</label>
						<input required name="oldPass" ng-model="userPassInfo.oldPass" type="password">
						<div ng-messages="Editpassword.oldPass.$error" role="alert" multiple>
							<div ng-message="required" class="my-message">Message title is required.</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm >
						<label>New Password</label>
						<input required name="newPass" ng-model="userPassInfo.newPass" type="password">
						<div ng-messages="Editpassword.newPass.$error" role="alert" multiple>
							<div ng-message="required" class="my-message">Message title is required.</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm >
						<label>Confirm New Password</label>
						<input required name="confirmPass" ng-model="userPassInfo.confirmPass" type="password">
						<div ng-messages="Editpassword.confirmPass.$error" role="alert" multiple>
							<div ng-message="required" class="my-message">Message title is required.</div>
						</div>
					</md-input-container>
				</form>                                                            
			</div>
		</md-dialog-content>
		
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button class="md-raised md-sm md-primary md-button md-ink-ripple"  ng-click="editpassword(Editpassword,ev)" >
				Submit
			</md-button>
			<md-button>
				Reset
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>