
<div ng-controller="UserCtrl" layout="column" class="md-inline-form" >
    <div class="page-title title">
        <h4 ><i class="ion-card" aria-hidden="true"></i>   <span>My Wallet</span></h4> </div>
    <div class="devider"></div>


    <div class="page-container">

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">  
                <md-card md-colors="::{backgroundColor: 'default-primary-800'}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">BTC Wallet</span>
                            <span class="md-subhead description">0000000</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <div class="md-media-sm card-media" layout md-colors="::{background: 'default-accent'}">
                                    <md-icon md-svg-icon="btc" style="color: #fff;" aria-label="Alarm Icon"></md-icon>
                                </div>
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="start center">

                        <md-button layout md-colors="::{background: 'default-accent'}"> Update Balance</md-button>

                    </md-card-actions>
                </md-card>     
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">  
                <md-card md-colors="::{backgroundColor: 'default-primary-800'}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">ETH Wallet</span>
                            <span class="md-subhead description">0000000</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <div class="md-media-sm card-media" layout md-colors="::{background: 'default-accent'}">
                                    <md-icon md-svg-icon="person"></md-icon>
                                </div>
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="start center">

                        <md-button layout md-colors="::{background: 'default-accent'}"> Update Balance</md-button>

                    </md-card-actions>
                </md-card>     
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">  
                <md-card md-colors="::{backgroundColor: 'default-primary-800'}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">BCH Wallet</span>
                            <span class="md-subhead description">0000000</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <div class="md-media-sm card-media" layout md-colors="::{background: 'default-accent'}">
                                    <md-icon md-svg-icon="person"></md-icon>
                                </div>
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="start center">

                        <md-button layout md-colors="::{background: 'default-accent'}"> Update Balance</md-button>

                    </md-card-actions>
                </md-card>     
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">  
                <md-card md-colors="::{backgroundColor: 'default-primary-800'}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">JGN Wallet</span>
                            <span class="md-subhead description">0000000</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <div class="md-media-sm card-media" layout md-colors="::{background: 'default-accent'}">
                                    <md-icon md-svg-icon="person"></md-icon>
                                </div>
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="start center">

                        <md-button layout md-colors="::{background: 'default-accent'}"> Update Balance</md-button>

                    </md-card-actions>
                </md-card>     
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <md-card md-colors="::{backgroundColor: 'fff'}">
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom  class="md-primary">
                            <md-tab label="BTC Wallet">
                                <md-content class="md-padding">
                                        <md-button class="md-raised md-primary pull-right">Update Wallet</md-button>
                                        Receive Bitcoin (BTC)<br>
                                        Get address to accept Bitcoin payments
                                    <br>
                                        <md-button class="md-raised">Deposit Bitcoin (BTC)</md-button>
                                    <hr>
                                    <h4>Send Bitcoin (BTC)</h4>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>To Address</label>
                                            <input ng-model="user.toaddress">
                                        </md-input-container>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Amount of BTC</label>
                                            <input ng-model="user.amtofbtc">
                                        </md-input-container>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Password</label>
                                            <input ng-model="user.pwd">
                                        </md-input-container>
                                    </div>
                                    
                                    <div class="devider"></div>
                                    
                                    <md-button class="md-raised md-warn">Deposit Bitcoin (BTC)</md-button><br>
                                    Alert: You must buy at least 50 JGN to be able to withdraw your remaining BTC. If not, BTC can only be withdrawn after ICO.
                                </md-content>
                            </md-tab>
                            <md-tab label="ETH Wallet">
                                <md-content class="md-padding">
                                    <md-button class="md-raised md-primary pull-right">Update Wallet</md-button>
                                    Receive Bitcoin (ETH)<br>
                                    Get address to accept Bitcoin payments
                                    <br>
                                    <md-button class="md-raised">Deposit Bitcoin (ETH)</md-button>
                                    <hr>
                                    Send Bitcoin (ETH)

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>To Address</label>
                                            <input ng-model="user.toaddress">
                                        </md-input-container>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Amount of ETH</label>
                                            <input ng-model="user.amtofbtc">
                                        </md-input-container>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Password</label>
                                            <input ng-model="user.pwd">
                                        </md-input-container>
                                    </div>

                                    <div class="devider"></div>

                                    <md-button class="md-raised md-warn">Deposit Bitcoin (BTC)</md-button><br>
                                    Alert: You must buy at least 50 JGN to be able to withdraw your remaining BTC. If not, BTC can only be withdrawn after ICO.
                                </md-content>
                            </md-tab>
                            <md-tab label="BCH Wallet">
                                <md-content class="md-padding">
                                    <md-button class="md-raised md-primary pull-right">Update Wallet</md-button>
                                    Receive Bitcoin (BCH)<br>
                                    Get address to accept Bitcoin payments
                                    <br>
                                    <md-button class="md-raised">Deposit Bitcoin (BCH)</md-button>
                                    <hr>
                                    Send Bitcoin (BCH)

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>To Address</label>
                                            <input ng-model="user.toaddress">
                                        </md-input-container>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Amount of BCH</label>
                                            <input ng-model="user.amtofbtc">
                                        </md-input-container>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Password</label>
                                            <input ng-model="user.pwd">
                                        </md-input-container>
                                    </div>

                                    <div class="devider"></div>

                                    <md-button class="md-raised md-warn">Deposit Bitcoin (BTC)</md-button><br>
                                    Alert: You must buy at least 50 JGN to be able to withdraw your remaining BTC. If not, BTC can only be withdrawn after ICO.
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content> 
                </md-card>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <md-card md-colors="::{backgroundColor: 'fff'}">

                    <div layout="column" ng-cloak>
                        <md-toolbar class="md-primary">
                            <div class="md-toolbar-tools">
                                <h2 class="md-flex">JGN Wallet</h2>
                            </div>
                        </md-toolbar>
                        <md-content class="md-padding">
                            Receive JGEN Coin (JGN);
                            <br>Get address to accept JGEN Coin payments<br>
                            <md-button class="md-raised">Deposit Bitcoin (BTC)</md-button>
                            <hr>
                            <h4>Transfer Jgen (JGN)</h4>
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>To Address</label>
                                    <input ng-model="user.toaddress">
                                </md-input-container>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Amount of BTC</label>
                                    <input ng-model="user.amtofbtc">
                                </md-input-container>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Password</label>
                                    <input ng-model="user.pwd">
                                </md-input-container>
                            </div>

                            <div class="devider"></div>

                            <md-button class="md-raised md-warn">Deposit Bitcoin (BTC)</md-button><br>
                            
                        </md-content>
                    </div>
                </md-card>
            </div>
            
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <md-card md-colors="::{backgroundColor: 'fff'}">
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom  class="md-primary">
                            <md-tab label="BTC/ETH/BCH Deposit Transactions">
                                <md-content class="md-padding">
                                    <md-button class="md-raised  md-warn">Primary</md-button>
                                    <table class="table table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th ng-click="sortType = 'username'; sortReverse = !sortReverse">
                                                   #
                                                    <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
                                                </th>
                                                <th ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                                    Type
                                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                                </th>
                                                <th ng-click="sortType = 'shopname'; sortReverse = !sortReverse">
                                                    Status
                                                    <span ng-show="sortType == 'shopname' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'shopname' && sortReverse" class="fa fa-caret-up"></span>
                                                </th>
                                                <th ng-click="sortType = 'email'; sortReverse = !sortReverse">
                                                    Amount
                                                    <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                                                </th>
                                                <th ng-click="sortType = 'products'; sortReverse = !sortReverse">
                                                    Created At
                                                    <span ng-show="sortType == 'products' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'products' && sortReverse" class="fa fa-caret-up"></span>
                                                </th>
                                                <th ng-click="sortType = 'products'; sortReverse = !sortReverse">
                                                    Network
                                                    <span ng-show="sortType == 'products' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'products' && sortReverse" class="fa fa-caret-up"></span>
                                                </th>
                                                <th ng-click="sortType = 'products'; sortReverse = !sortReverse">
                                                    Hash
                                                    <span ng-show="sortType == 'products' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'products' && sortReverse" class="fa fa-caret-up"></span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>

                                            </tr>

                                        </tbody>
                                    </table>
                                </md-content>
                            </md-tab>
                            <md-tab label="BTC/ETH/BCH Withdraw Transactions">
                                <md-content class="md-padding">
                                    You have no transactions.
                                </md-content>
                            </md-tab>
                            <md-tab label="JGN Transactions">
                                <md-content class="md-padding">
                                    You have no transactions.
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content> 
                </md-card>
            </div>
        </div>
    </div>
</div>