<div ng-controller="UserCtrl" layout="column" class="md-inline-form" >
  <div class="page-title catalogpagetitle" ng-init="showToast('My Profile !')">
    <div class="catalog-head"><h5>DASHBOARD</h5></div>
    <div class="pull-right">

    </div>
  </div>
  <div class="devider"></div>
  <div class="page-container ">
    <div class=" content-section" >
      <div class="row">
        <div class="text-center">
          <div class="row">
            <h4>TOKEN SALE IS FINISHED</h4>
          </div>
          <div class="row">
            <h4>NOW YOU CAN BUY MBTC TOKENS ON EXCHANGES BY 15TH JANUARY 2018</h4>
          </div>
          <div class="row">
            <h5><i class="ion-information-circled"></i> Tier 1 KYC required : Please verify your mobile no.</h5>
          </div>
        </div>
        <div class="row profile-data-container" >
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div  class="col-lg-10 col-md-10 col-sm-10 col-xs-12 profile_data" >
              <div ng-init="get_profile_data()">

                <div class="row detail-head">
                  <div style="float: left;"><h4>Personal Details</h4></div>
                  <div class="pull-right"><button class="btn" ng-hide="showEditForm" ng-click="showEditForm =! showEditForm">Edit Details</button></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 profile-details">
                  <h4>First Name</h4>
                  <p ng-hide="showEditForm">{{userInfo.FirstName}}</p>
                  <md-input-container class="md-block" flex-gt-sm ng-show="showEditForm">
                    <input ng-model="userInfo.FirstName" name="FirstName" required>
                    <div ng-messages="userForm.FirstName.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">Message title is required.</div>
                    </div>
                  </md-input-container>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 profile-details">
                  <h4>Last Name</h4>
                  <p ng-hide="showEditForm">{{userInfo.LastName}}</p>
                  <md-input-container class="md-block" flex-gt-sm ng-show="showEditForm">
                    <input ng-model="userInfo.LastName" name="LastName" required>
                    <div ng-messages="userForm.LastName.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">Message title is required.</div>
                    </div>
                  </md-input-container>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 profile-details">
                  <h4>Address</h4>
                  <p ng-hide="showEditForm">{{userInfo.Location}}</p>
                  <md-input-container class="md-block" flex-gt-sm ng-show="showEditForm">
                    <input ng-model="userInfo.Location" name="Location" required>
                    <div ng-messages="userForm.Location.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">Message title is required.</div>
                    </div>
                  </md-input-container>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 profile-details">
                  <h4>City </h4>
                  <p ng-hide="showEditForm">{{userInfo.City}}</p>
                  <md-input-container class="md-block" flex-gt-sm ng-show="showEditForm">
                    <input ng-model="userInfo.City" name="City" required>
                    <div ng-messages="userForm.City.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">Message title is required.</div>
                    </div>
                  </md-input-container>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 profile-details">
                  <h4>Zip/Postal Code</h4>
                  <p ng-hide="showEditForm">{{userInfo.Postal}}</p>
                  <md-input-container class="md-block" flex-gt-sm ng-show="showEditForm">
                    <input ng-model="userInfo.Postal" name="PostalCode" required>
                    <div ng-messages="userForm.PostalCode.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">Message title is required.</div>
                    </div>
                  </md-input-container>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 profile-details">
                  <h4>Country</h4>
                  <p ng-hide="showEditForm">{{userInfo.Country}}</p>
                  <md-input-container class="md-block" flex-gt-sm ng-show="showEditForm">
                    <input ng-model="userInfo.Country" name="Country" required>
                    <div ng-messages="userForm.Country.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">Message title is required.</div>
                    </div>
                  </md-input-container>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 profile-details">
                  <h4>Mobile Number </h4>
                  <p ng-hide="showEditForm">{{userInfo.Mobile}}</p>
                  <md-input-container class="md-block" flex-gt-sm ng-show="showEditForm">
                    <input ng-model="userInfo.Mobile" name="Mobile" required>
                    <div ng-messages="userForm.Mobile.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">Message title is required.</div>
                    </div>
                  </md-input-container>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 profile-details">
                  <h4>Email </h4>
                  <p ng-hide="showEditForm">{{userInfo.Email}}</p>
                  <md-input-container class="md-block" flex-gt-sm ng-show="showEditForm">
                    <input ng-model="userInfo.Email" name="Email" required>
                    <div ng-messages="userForm.Email.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">Message title is required.</div>
                    </div>
                  </md-input-container>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 profile-details">
                  <h4>Gender</h4>
                  <p ng-hide="showEditForm">{{userInfo.Gender}}</p>
                  <md-input-container class="md-block" flex-gt-sm ng-show="showEditForm">
                    <md-select name="Gender" ng-model="userInfo.Gender" required>
                      <md-option value="Male"> MALE </md-option>
                      <md-option value="Female"> FEMALE </md-option>
                    </md-select>

                    <div ng-messages="userForm.Gender.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">Message title is required.</div>
                    </div>
                  </md-input-container>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details text-center">
                  <md-input-container class="md-block" flex-gt-lg ng-show="showEditForm">
                    <md-button class="md-raised md-warn" ng-click="editUser(userForm,ev)" >Submit</md-button>
                  </md-input-container>
                </div>


              </div>


            </div>
            <div  class="col-lg-2 col-md-2 col-sm-2 col-xs-12 profile_data" >

              <img height="150px" width="150px" ng-src="{{userInfo.MemberImage}}" alt="{{userInfo.MemberImage}}" title="{{userInfo.MemberImage}}"/>
              <label class="import-file">
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="file" value="" id="MemberImage" name="MemberImage" ng-model="userInfo.MemberImage" onchange="angular.element(this).scope().LoadFileData(this.files,'MemberImage')" class="input-btn-hide"/>
                  <md-button class="md-raised md-warn" ng-click="clickUpload('MemberImage')" >Upload Document</md-button>
                </md-input-container>

                </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile_data profile-data-2">
                <div class="row">
                  <h4 class="text-center">Upload Kyc Document</h4>
                </div>
                <div class="text-center">
                  <div class="row col-xs-6">
                    <h5>Proof Of Identity</h5>
                    <div class="upload-icon">
                      <i class="ion-ios-cloud-upload-outline"></i>
                    </div>
                    <h5>Choose a file</h5>
                    <md-input-container class="md-block" flex-gt-sm>
                      <input type="file" value="" id="idProof" name="idProof" ng-model="userInfo.IdProofDoc" class="input-btn-hide" onchange="angular.element(this).scope().LoadFileData(this.files,'idProof')" />
                      <md-button class="md-raised md-warn" ng-click="clickUpload('idProof')" type="File" >Upload Document</md-button>
                    </md-input-container>
                  </div>
                  <div class="row col-xs-6">
                    <h5>Proof Of Address</h5>
                    <div class="upload-icon">
                      <i class="ion-ios-cloud-upload-outline"></i>
                    </div>
                    <h5>Choose a file</h5>
                    <md-input-container class="md-block" flex-gt-sm>
                      <input type="file" value="" id="addressProof" name="addressProof" ng-model="userInfo.AddressProofDoc" onchange="angular.element(this).scope().LoadFileData(this.files,'addressProof')" class="input-btn-hide"/>
                      <md-button class="md-raised md-warn" ng-click="clickUpload('addressProof')">Upload Document</md-button>
                    </md-input-container>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 "> 
              <div class="col-lg-12 col-md-`2 col-sm-12 col-xs-12">
                <div class="new-info-contailer">
                  <div class="row detail-head">
                    <div><h4> <i class="ion-social-usd"></i>PAYMENT DETAILS</h4></div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details">
                    <div class="new-notification-tab">
                      <div class=" row profile-siedebar-details">
                        <div class="col-xs-3 notification-icon">
                          <i class="ion-social-bitcoin"></i>
                        </div>
                        <div class="col-xs-3">
                          <h5>0.00</h5>
                          <h6>BTC Deposit</h6>
                        </div>
                        <div class="col-xs-6">
                          <h5> <i class="ion-arrow-swap"></i></h5>
                          <h6><a href="">1 BTC= $14,000</a></h6>
                        </div>
                      </div>


                      <div class="row profile-siedebar-details">
                        <div class="col-xs-3 notification-icon">
                          <img src="libs/assets/images/eth.jpg" width="30px" ></i>
                      </div>
                      <div class="col-xs-3">
                        <h5>0.00</h5>
                        <h6>ETH Deposit</h6>
                      </div>
                      <div class="col-xs-6">
                        <h5> <i class="ion-arrow-swap"></i></h5>
                        <h6><a href="">1ETH = $700</a></h6>
                      </div>
                    </div>

                    <div class="row profile-siedebar-details">
                      <div class="col-xs-3 notification-icon">
                        <i class="ion-social-usd"></i>
                      </div>
                      <div class="col-xs-3">
                        <h5>0.00</h5>
                        <h6>USD Deposit</h6>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div class="row detail-head">
                <div><h4><i class="ion-ionic"></i> ALLOCATED MBTC TOKEN</h4></div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details">
                <div class="new-notification-tab">
                  <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                      <md-tab label="MBTC Token">
                        <md-content class="md-padding">
                          <div class="row">
                            <div class="col-xs-2 notification-tab-icon"><i class="ion-ionic"></i></div>
                            <div class="col-xs-10">
                              <p><h5>{{userInfo.AvailTOKEN}} MBTC Token</h5></p>
                          </div>
                          </div>

                        </md-content>
                      </md-tab>
                    <md-tab label="Bonus">
                      <md-content class="md-padding">
                        <div class="row">
                          <div class="col-xs-2 notification-tab-icon"><i class="ion-ionic"></i></div>
                          <div class="col-xs-10">
                            <p><h5>{{userInfo.BonusTOKEN}} MBTC Token</h5></p>
                        </div>
                        </div>  
                      </md-content>
                    </md-tab>
                  </md-tabs>
                </md-content>
            </div>
          </div>
        </div>



        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <div class="row detail-head">
            <div><h4><i class="ion-ionic"></i> MEMBERSHIP TYPE</h4></div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details">
            <div class="new-notification-tab"> 
              <div class="row">
                <div class="col-xs-2 notification-tab-icon"><i class="ion-ribbon-b"></i></div>
                <div class="col-xs-10">
                  <p class="notification-area-text"><h4>{{userInfo.Subcription}}</h4></p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>


  </div>
</div>
</div> 
</div>
</div>
