<md-dialog aria-label="Change Password" ng-controller="UserCtrl">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Profile Settings</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
            <div class="alert alert-{{alerts.cp.type}} alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a>
              {{alerts.cp.msg}}
            </div>  
            <form id="ProfileSettings" name="ProfileSettings" class="form-ProfileSettings"  ng-submit="profilesettings(ProfileSettings,ev)" method="post">
                  <md-input-container class="md-block" flex-gt-sm >
                      <md-switch ng-model="data.emailnotification" aria-label="Email Notfication" ng-change="onChange(data.emailnotification)">
                              Email Notification
                      </md-switch>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm >
                      <md-switch ng-model="data.newsletter" aria-label="News Letter" ng-change="onChange(data.newsletter)">
                              News Letter
                       </md-switch>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm >
                      <md-switch ng-model="data.subcriptions" aria-label="Subcriptions" ng-change="onChange(data.subcriptions)">
                              Subcriptions
                      </md-switch>
                  </md-input-container>
            </form>                                                            
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>