            <div ng-controller="UserCtrl" layout="column" class="md-inline-form" >
              <div class="page-title catalogpagetitle" ng-init="showToast('Purchase!')">
                    <div class="catalog-head"><h5>Purchase</h5></div>
                      <div class="pull-right"></div>
              </div>
              <div class="devider"></div>
              <div class="page-container ">
                <div class=" content-section" >
                  <div class="row">
                    <div class="text-center">
                      <div class="row">
                        <h4>TOKEN SALE IS FINISHED</h4>
                      </div>
                      <div class="row">
                        <h4>NOW YOU CAN BUY MBTC TOKENS ON EXCHANGES BY 15TH JANUARY 2018</h4>
                      </div>
                      <div class="row">
                        <h5><i class="ion-information-circled"></i> Tier 1 KYC required : Please varify your mobile no.</h5>
                      </div>
                    </div>
                    <div class="row profile-data-container" >
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                   <div  class="col-lg-10 col-md-10 col-sm-10 col-xs-12 profile_data">
                                   </div>
                                   <div  class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
                                   </div>
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
        
                  
                                   </div>
                          </div>

                      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 "> 
                         <div class="col-lg-12 col-md-`2 col-sm-12 col-xs-12">
                        <div class="new-info-contailer">
                            <div class="row detail-head">
                              <div><h4> <i class="ion-social-usd"></i>PAYMENT DETAILS</h4></div>
                            </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details">
                          <div class="new-notification-tab">
                                <div class=" row profile-siedebar-details">
                                  <div class="col-xs-3 notification-icon">
                                    <i class="ion-social-bitcoin"></i>
                                  </div>
                                  <div class="col-xs-3">
                                    <h5>0.00</h5>
                                    <h6>BTC Deposit</h6>
                                  </div>
                                  <div class="col-xs-6">
                                    <h5> <i class="ion-arrow-swap"></i></h5>
                                    <h6><a href="">1 BTC= $14,000</a></h6>
                                  </div>
                                </div>

                                  
                                  <div class="row profile-siedebar-details">
                                    <div class="col-xs-3 notification-icon">
                                      <img src="libs/assets/images/eth.jpg" width="30px" ></i>
                                    </div>
                                    <div class="col-xs-3">
                                      <h5>0.00</h5>
                                      <h6>ETH Deposit</h6>
                                    </div>
                                    <div class="col-xs-6">
                                      <h5> <i class="ion-arrow-swap"></i></h5>
                                      <h6><a href="">1ETH = $700</a></h6>
                                    </div>
                                  </div>

                                   <div class="row profile-siedebar-details">
                                    <div class="col-xs-3 notification-icon">
                                      <i class="ion-social-usd"></i>
                                    </div>
                                    <div class="col-xs-3">
                                      <h5>0.00</h5>
                                      <h6>USD Deposit</h6>
                                    </div>
                                  
                                  </div>
                          </div>
                        </div>
                      </div>
                    </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="row detail-head">
                          <div><h4><i class="ion-ionic"></i> ALLOCATED MBTC TOKEN</h4></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details">
                          <div class="new-notification-tab">
                            <md-content>
                              <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="MBTC Token">
                                  <md-content class="md-padding">
                                    <div class="row">
                                     <div class="col-xs-2 notification-tab-icon"><i class="ion-ionic"></i></div>
                                      <div class="col-xs-10">
                                        <p><h5>{{userInfo.AvailTOKEN}} MBTC Token</h5></p>
                                      </div>
                                    </div>
                                    
                                  </md-content>
                                </md-tab>
                                <md-tab label="Bonus">
                                  <md-content class="md-padding">
                                    <div class="row">
                                      <div class="col-xs-2 notification-tab-icon"><i class="ion-ionic"></i></div>
                                      <div class="col-xs-10">
                                        <p><h5>{{userInfo.BonusTOKEN}} MBTC Token</h5></p>
                                      </div>
                                    </div>  
                                  </md-content>
                                </md-tab>
                              </md-tabs>
                            </md-content>
                          </div>
                        </div>
                      </div>



 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="row detail-head">
                          <div><h4><i class="ion-ionic"></i> MEMBERSHIP TYPE</h4></div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-details">
                          <div class="new-notification-tab"> 
                            <div class="row">
                                      <div class="col-xs-2 notification-tab-icon"><i class="ion-ribbon-b"></i></div>
                                      <div class="col-xs-10">
                                       <p class="notification-area-text"><h4>{{userInfo.Subcription}}</h4></p>
                                      </div>
                                    </div>
                            
                          </div>
                        </div>
                      </div>

                      </div>


                    </div>
                  </div>
                </div> 
              </div>
            </div>
           