<div ng-controller="UserCtrl" layout="column" class="md-inline-form" data-ng-init="getTermandConditiondata()">
  <div class="page-title title">
    <h4 ><i class="ion-card" aria-hidden="true"></i>   <span class="about_title"></span></h4> </div>
  <div class="devider"></div>
  <div class="">
  
  </div>
  <div class="page-container">
    <div class=" content-section" >
      <div class="row">
           <div class="col-sm-12 col-sm-offset-1 col-md-10 col-md-offset-1 about_content"></div>
      </div>
    </div>
   </div>
</div>

