<div ng-controller="catalogCtrl as ctrl" layout="column" class="md-inline-form">
  <div class="page-title catalogpagetitle">
    <h4> Add new product</h4>
    
  </div>
  <div class="devider"></div>
  <div class="page-container content-section ">
    <div class="add-product-container row">
      <div class="col-lg-6 col-md-6">
        <h4>Sell an Existing Product</h4>
        <div  layout="column" ng-cloak="" class="autocompletedemoBasicUsage product-search">
          <form ng-submit="$event.preventDefault()">
            <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="What is your favorite US state?">
              <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
              </md-item-template>
              <md-not-found>
                No states matching "{{ctrl.searchText}}" were found.
                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
              </md-not-found>
            </md-autocomplete>
          </form>
        </div>
        <div class="">
          <md-button class="md-fab md-mini existing-product-search" aria-label="Eat cake">
            <md-icon><i class="ion-ios-search-strong"></i></md-icon>
        </md-button>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <h4>Sell a New product</h4>
        <div class="marginud-30">
          <a ui-sref="add_single_product" class="add-single-product-btn" >ADD SINGLE PRODUCT</a>
        </div>
          
        <h6>Want to list in bulk? Please download and fill the content sheet to get started.</h6>
        
        <div class="marginud-30">
          <a href="" class="add-single-product-btn" >CREATE LISTINGS IN BULK</a>
        </div>
      </div>
    </div>
  </div>
  <div class="devider"></div>
  <div class="page-container content-section ">
    <h4>Add Brand</h4>
    <form ng-submit="$event.preventDefault()">
            <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Add Brand">
              <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
              </md-item-template>
              <md-not-found>
                No states matching "{{ctrl.searchText}}" were found.
                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
              </md-not-found>
            </md-autocomplete>
          </form>
  </div>
</div>