<div ng-controller="catalogCtrl as ctrl" layout="column" class="md-inline-form">
  <div class="page-title catalogpagetitle">
    <div class="catalog-head"><h5><a href="#">Live (25)</a> <a href="#">Not Live (5)</a></h5></div>
    <div class="pull-right product add-search-product">
      <div  layout="column" ng-cloak="" class="autocompletedemoBasicUsage product-search">
          <form ng-submit="$event.preventDefault()">
            
            <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="What is your favorite US state?">
              <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
              </md-item-template>
              <md-not-found>
                No states matching "{{ctrl.searchText}}" were found.
                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
              </md-not-found>
            </md-autocomplete>
          </form>
      </div>
      <div class="product add-product-btn">
        <a ui-sref="add_product"><i class="ion-plus-circled"></i> Add Product</a>
      </div>
    </div>
  </div>
  <div class="devider"></div>
  <div class="page-container content-section ">
    <div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="In Stock (25)">
        <md-content class="md-padding">
          <h5>In stock</h5>
          
        </md-content>
      </md-tab>
      <md-tab label="Out Of Stock (12)">
        <md-content class="md-padding">
          <h5>Out Of stock</h5>
        </md-content>
      </md-tab>
      
    </md-tabs>
  </md-content>
</div>
  </div>
</div>