<div ng-controller="LoginCtrl" layout="column" class="md-inline-form">
  <div class="login-form">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 login-container forget-form">
      <form name="forgetForm" ng-submit="forget_form(forget)" novalidate>
        <div layout-gt-sm="row">
          <h2>Forget Password</h2>
        </div>
        <div class="devider"></div>
         <p class="text-xs m-t">Enter Email for recieve OTP on your Email.</p>
        <div layout-gt-sm="row">
           
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': forgetForm.email.$invalid && forgetForm.email.$dirty, 'has-success': forgetForm.email.$valid }">
            <label>Email</label>
            <input name="mobile" type="text" ng-model="forget.mobile" required="required" minlength="10" ng-pattern="/^\d{10}$/">
            <div ng-messages="forgetForm.mobile.$dirty && forgetForm.mobile.$error" role="alert" multiple>
              <div ng-message="required">Mobile is required.</div>
              <div ng-message="minlength">Mobile must be 10 digit long .</div>
              <div ng-message="pattern">Please enter valid Mobile No. .</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <md-button class="md-raised md-warn" type="submit" ng-disabled="forgetForm.mobile.$invalid">Send OTP</md-button>
          </md-input-container>
        </div>
      </form>
      <div class="p-v-lg text-center">Return to <a ui-sref="login">SIGN IN </a></div> 
    </div>
  </div>
</div>