  <div class="page-container ">
    <div class="content-section">
      <form name="userForm ">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>First name</label>
          <input ng-model="user.firstName" required>
          <div ng-messages="userForm.firstName.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Firstname is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Last name</label>
          <input ng-model="user.lastName" required>
          <div ng-messages="userForm.lastName.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Lastname is required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Address</label>
          <input ng-model="user.address" required>
          <div ng-messages="userForm.address.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Address is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Address</label>
          <input ng-model="user.address2" placeholder="Address 2" required>
          <div ng-messages="userForm.address2.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Address is required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>City</label>
          <input ng-model="user.city" required>
          <div ng-messages="userForm.ci.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">City name is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>State</label>
          <md-select ng-model="user.state">
            <md-option ng-repeat="state in states" value="{{state.abbrev}}"> {{state.abbrev}} </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Postal Code</label>
          <input name="postalCode" ng-model="user.postalCode" placeholder="123456" required ng-pattern="/^[0-9]{5}$/" md-maxlength="6">
          <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">You must supply a postal code.</div>
            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code. </div>
            <div ng-message="md-maxlength" class="my-message"> Pin code should be of 6 digit long; </div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <lf-ng-md-file-input lf-files='files' progress> </lf-ng-md-file-input>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Biography</label>
          <textarea ng-model="user.biography" md-maxlength="150" rows="2" md-select-on-focus></textarea>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Laguanges :</label>
          <br>
          <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1"> C++ </md-checkbox>
          <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2"> Java </md-checkbox>
          <md-checkbox ng-model="data.cb3" aria-label="Checkbox 3"> PHP </md-checkbox>
          <md-checkbox ng-model="data.cb4" aria-label="Checkbox 4"> Python </md-checkbox>
          <md-checkbox ng-model="data.cb5" aria-label="Checkbox 5"> Ruby </md-checkbox>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Fruit :</label>
          <br>
          <br>
          <md-radio-group ng-model="data.group1">
            <md-radio-button value="Apple" class="">Apple</md-radio-button>
            <md-radio-button value="Banana" class=""> Banana </md-radio-button>
            <md-radio-button value="Mango" class="">Mango</md-radio-button>
          </md-radio-group>
        </md-input-container>
      </div>
      <md-button class="md-raised md-primary" ng-click="submitFrom()">Submit</md-button>
    </form>
    </div>
    
  </div>