<div layout="column" class="md-inline-form">
  <div class="page-title title">
    <h4><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Dashboard</h4> </div>
  <div class="devider"></div>
  <div class="">
    <div  layout="column" class="col-lg-3 col-md-4 col-sm-4" >
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><a href="">Orders (Today)</a></span>
            <span class="md-subhead">5</span>
            <span class="md-headline"><a href="">Total Orders (This Month)</a></span>
            <span class="md-subhead">266</span>
          </md-card-title-text>
          </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div layout="column" class="col-lg-3 col-md-4 col-sm-4">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><a href="">Total Product</a></span>
            <span class="md-subhead">6565</span>
            <span class="md-headline"><a href="">Pending Product</a></span>
            <span class="md-subhead">514</span>
          </md-card-title-text>
          
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div layout="column" class="col-lg-3 col-md-4 col-sm-4">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><a href="">Pending Orders</a></span>
            <span class="md-subhead">15</span>
            <span class="md-headline"><a href="">Completed Orders</a></span>
            <span class="md-subhead">182</span>
            
          </md-card-title-text>
          
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="" layout="column" class="col-lg-3 col-md-4 col-sm-4">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><a href="">New Sellers</a></span>
            <span class="md-subhead">125</span>
            <span class="md-headline"><a href="">Total Sellers</a></span>
            <span class="md-subhead">70</span>
          </md-card-title-text>
          
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div class="devider"></div>
    <div flex-xs flex-gt-xs="" layout="column" class="col-lg-3 col-md-4 col-sm-4">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><a href="">Total Users</a></span>
            <span class="md-subhead">125</span>
            <span class="md-headline"><a href="">Total Sellers</a></span>
            <span class="md-subhead">70</span>
          </md-card-title-text>
          
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="" layout="column" class="col-lg-3 col-md-4 col-sm-4">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><a href="">Total Users</a></span>
            <span class="md-subhead">125</span>
            <span class="md-headline"><a href="">Total Sellers</a></span>
            <span class="md-subhead">70</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>