<div ng-controller="LoginCtrl" layout="column" class="md-inline-form">
  <div class="login-form">
    <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-6 login-container" style="height:450px">
          <form name="loginForm" ng-submit="form.submit(loginForm)" novalidate >

    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

        <div layout-gt-sm="row">
          <h2>Login</h2>
        </div>
        <div class="devider"></div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$dirty, 'has-success': loginForm.email.$valid }">
            <label>Email</label>
            <input name="email" type="email" ng-model="loginInfo.Username" required="required" >
            <div ng-messages="loginForm.email.$dirty && loginForm.email.$error" >
              <div ng-message="required">Email is required.</div>
              <div ng-message="email">Enter a valid email.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty, 'has-success': loginForm.password.$valid}">
            <label>Password</label>
            <input ng-model="loginInfo.Password" type="password" name="password" ng-minlength="6" ng-maxlength="50" required="required">
            <div ng-messages="loginForm.password.$dirty && loginForm.password.$error" role="alert" multiple>
              <div ng-message="required">Password is required.</div>
              <div ng-message="minlength">Password must be 6 digit long .</div>
              <div ng-message="maxlength">Password should no 50 digit long .</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm >
            <md-checkbox ng-model="login.remember" aria-label="Checkbox 1">
                Remember Me
            </md-checkbox>
          </md-input-container>
          <md-input-container class="md-block login-btn" flex-gt-sm>
            <md-button class="md-raised md-warn" type="submit" ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid">LOGIN</md-button>
          </md-input-container>
        </div>
        
        
      </form>
  
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 login-side">
      <div class="login-side-data">
        <div class="login-signup">
          <h3 class="">Don't Have An Account ?</h3>
          <a ui-sref="signup"><div class="login-option-btn">SIGNUP</div></a>
        </div>
        <div class="login-forget-pass">
          <h3>Forget Password </h3>
          <a ui-sref="forget_password"><div class="login-option-btn">Reset</div></a>
        </div>

      </div>
      

    </div>
  </div>
</div>