<nav class="navbar navbar-default navbar-expand-xl navbar-light">
        <div class="navbar-header d-flex col">
          <a class="navbar-brand" href="#"> <i class="fa fa-cube"></i> <b>{{app.SITE_NAME}}</b> </a>
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto"> <span class="navbar-toggler-icon"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
          <ul class="nav navbar-nav navbar-right ml-auto">
          <li class="nav-item dropdown">
              <a ui-sref="home" ><i class="ion-ios-home"></i><b>{{' HOME'}}</b> </a>
          </li>
         <li class="nav-item dropdown">
              <a ui-sref="login" ><i class="ion-ios-home"></i><b>{{' LOGIN'}}</b> </a>
          </li>
            
          </ul>
        </div>
      </nav>