<aside id="sidebar" class="sidebar sidebar-default sidebar-fixed-left closed" role="navigation">
	<!--Sidebar navigation -->
	<ul class="nav sidebar-nav">
		<li>
			<a ui-sref="admindashboard"> <i class="sidebar-icon ion-ios-speedometer-outline"></i> <span class="sidebar-link-text">Dashboard</span> </a>
		</li>
		<li>
			<a ui-sref="all_orders"> <i class="sidebar-icon ion-arrow-swap" aria-hidden="true"></i> <span class="sidebar-link-text">Orders</span> </a>
		</li>

		<li>
			<a ui-sref="all_reports"> <i class="sidebar-icon ion-ios-copy-outline" aria-hidden="true"></i> <span class="sidebar-link-text">Reports</span> </a>
		</li>
		<li class="dropdown">
			<a class="ripple-effect dropdown-toggle" data-toggle="dropdown"> <i class="sidebar-icon ion-ios-people-outline" aria-hidden="true"></i>
				<span class="sidebar-link-text">Profile's</span> <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">

				<li>
					<a ui-sref="sellers" tabindex="-1"> <i class="sidebar-icon sub-menu-icon ion-ios-people-outline" aria-hidden="true"></i> <span class="sidebar-link-text">Seller's</span> </a>
				</li>
				<li>
					<a ui-sref="users" tabindex="-1"> <i class="sidebar-icon sub-menu-icon ion-ios-people-outline" aria-hidden="true"></i> <span class="sidebar-link-text"></span>User's</a>
				</li>

			</ul>
		</li>

		<li class="dropdown">
			<a class="ripple-effect dropdown-toggle" data-toggle="dropdown"> <i class="sidebar-icon ion-ios-cog-outline" aria-hidden="true"></i>
				<span class="sidebar-link-text">Configuration</span><b class="caret"></b></a>
			<ul class="dropdown-menu">

				<li>
					<a ui-sref="siteconfig" tabindex="-1"> <i class="sidebar-icon sub-menu-icon ion-ios-settings" aria-hidden="true"></i> <span class="sidebar-link-text">Configuration</span> </a>
				</li>
				<li>
					<a ui-sref="message" tabindex="-1"> <i class="sidebar-icon sub-menu-icon ion-email" aria-hidden="true"></i> <span class="sidebar-link-text">Message</span> </a>
				</li>
				<li>
					<a ui-sref="category" tabindex="-1"> <i class="sidebar-icon sub-menu-icon ion-clipboard" aria-hidden="true"></i><span class="sidebar-link-text">Category</span> </a>
				</li>
				<li>
					<a ui-sref="qrcode" tabindex="-1"> <i class="sidebar-icon sub-menu-icon ion-qr-scanner" aria-hidden="true"></i><span class="sidebar-link-text">QRCode Generator</span> </a>
				</li>
			</ul>
		</li>

		<li class="dropdown">
			<a class="ripple-effect dropdown-toggle" data-toggle="dropdown"> <i class="sidebar-icon ion-ios-cog-outline" aria-hidden="true"></i>
				<span class="sidebar-link-text">Action</span><b class="caret"></b></a>
			<ul class="dropdown-menu">

				<li>
					<a ui-sref="requestToken"> <i class="sidebar-icon sub-menu-icon ion-ios-settings" aria-hidden="true"></i> <span class="sidebar-link-text">Requst Token</span> </a>
				</li>
	
			</ul>
		</li>

		<li>
			<a href="#"> <i class="sidebar-icon ion-ios-cloud-download-outline" aria-hidden="true"></i> <span class="sidebar-link-text">Download App</span> </a>
		</li>
	</ul>
</aside>