<div ng-controller="SignupCtrl" layout="column" class="md-inline-form">
  <div class="login-form signupform">
    <div class="col-lg-6 col-md-6 col-sm-12 login-container signup signup-side">
      <h3>Sign Up</h3>
      <div class="devider"></div>
      <h2>Just One More Step !</h2>
      <div class="devider"></div>
      <h3>Provide Your Deatils </h3>
      <h3> OR </h3>
      <h3>Already have an account </h3>
      <div class="devider"></div>
      <div class="devider"></div>
      <a ui-sref="login"><div class="login-signup-btn">Login</div></a>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 login-container signup">
    
     <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
      <form name="signupForm" ng-submit="registration(signupForm,ev)" novalidate>
		<div layout-gt-sm="row">
      	 <!--md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': adduserForm.role.$invalid && adduserForm.role.$dirty, 'has-success': adduserForm.role.$valid }"> 
            <label>Role</label>
            <md-select name="role" ng-model="regInfo.Role" required>
              <md-option value="-1"> Select  </md-option>
              <md-option value="MERCHANT"> MERCHANT </md-option>
               <md-option value="B2CUSER"> B2CUSER </md-option>
            </md-select>
            <div ng-messages="adduserForm.role.$dirty && adduserForm.role.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Role is required.</div>
            </div>
          </md-input-container-->
         </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Referral Code</label>
            <input name="referral" type="text" ng-model="regInfo.Referral" >
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': signupForm.firstname.$invalid && signupForm.firstname.$dirty, 'has-success': signupForm.firstname.$valid}">
            <label>Firstname</label>
            <input name="firstname" type="text" ng-model="regInfo.FirstName" ng-pattern="/[aA-zZ\s]$/" required>
            <div ng-messages="signupForm.firstname.$dirty && signupForm.firstname.$error" role="alert" multiple>
              <div ng-message="required">Firstname is required.</div>
               <div ng-message="pattern">Only Alphabets are allowed.</div>
              
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm 
          ng-class="{'has-error': signupForm.lastname.$invalid && signupForm.lastname.$dirty, 'has-success': signupForm.lastname.$valid}">
            <label>Lastname</label>
            <input name="lastname" type="text" ng-model="regInfo.LastName" ng-pattern="/[aA-zZ\s]$/" required >
            <div ng-messages="signupForm.lastname.$dirty && signupForm.lastname.$error" role="alert" multiple>
              <div ng-message="required">Lastname is required.</div>
              <div ng-message="pattern">Only Alphabets are allowed.</div>
              
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': signupForm.mobile.$invalid && signupForm.mobile.$dirty, 'has-success': signupForm.mobile.$valid}">
            <label>Mobile</label>
            <input name="mobile" type="text" ng-model="regInfo.Mobile" required="required" minlength="10" ng-pattern="/^\d{10}$/">
            <div ng-messages="signupForm.mobile.$dirty && signupForm.mobile.$error" role="alert" multiple>
              <div ng-message="required">Mobile is required.</div>
              <div ng-message="minlength">Mobile must be 10 digit long .</div>
              <div ng-message="pattern">Please enter valid Mobile No. .</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': signupForm.email.$invalid && signupForm.email.$dirty, 'has-success': signupForm.email.$valid}">
            <label>Email</label>
            <input name="email" type="email" ng-model="regInfo.Email" required="required">
            <div ng-messages="signupForm.email.$dirty && signupForm.email.$error" role="alert" multiple >
              <div ng-message="required">Email is required.</div>
              <div ng-message="email">Please enter a valid email</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': signupForm.password.$invalid && signupForm.password.$dirty, 'has-success': signupForm.password.$valid}">
            <label>Password</label>
            <input ng-model="regInfo.Password" type="password" name="password" ng-minlength="6" ng-maxlength="50" required="required">
            <div ng-messages="signupForm.password.$dirty && signupForm.password.$error" role="alert" multiple>
              <div ng-message="required">Password is required.</div>
              <div ng-message="minlength">Password must be 6 digit long .</div>
              <div ng-message="maxlength">Password should no 50 digit long .</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': signupForm.c_password.$invalid && signupForm.c_password.$dirty, 'has-success': signupForm.c_password.$valid}">
            <label>Confirm Password</label>
            <input ng-model="regInfo.C_Password" type="password" name="C_Password" ng-minlength="6" ng-maxlength="50" required="required" compare-to="regInfo.Password" ng-disabled="signupForm.password.$invalid">
            <div ng-messages="signupForm.c_password.$dirty && signupForm.c_password.$error" role="alert" multiple>
              <div ng-message="required">Password is required.</div>
              <div ng-message="compare-to">Passwords do not match!.</div>
              <div ng-message="minlength">Password must be 6 digit long .</div>
              <div ng-message="maxlength">Password should no 50 digit long .</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': signupForm.agree.$invalid && signupForm.agree.$dirty, 'has-success': signupForm.agree.$valid}">
            <md-checkbox name="agree" ng-model="regInfo.Agree" aria-label="Checkbox" required>
                
            </md-checkbox>
            <a href="terms&condation.html"></a>Agree terms and condation
             <div ng-messages="signupForm.agree.$dirty && signupForm.agree.$error" role="alert" multiple>
              <div ng-message="required">Password is required.</div>
              <div ng-message="minlength">Password must be 6 digit long .</div>
              <div ng-message="maxlength">Password should no 50 digit long .</div>
            </div>
        </md-input-container>    
        
          <md-input-container class="md-block signup-btn pull-right" flex-gt-sm>
            <md-button class="md-raised md-warn" type="submit" ng-disabled="signupForm.email.$invalid || signupForm.password.$invalid || signupForm.c_password.$invalid || signupForm.mobile.$invalid || signupForm.firstname.$invalid || signupForm.lastname.$invalid || signupForm.agree.$invalid">SIGNUP</md-button>
          </md-input-container>
        </div>
      </form>
    </div>
  </div>
</div>