<aside id="sidebar" class="sidebar sidebar-default sidebar-fixed-left open" role="navigation">
	<!--Sidebar navigation -->
	<ul class="nav sidebar-nav">
		<li>
			<a ui-sref="dashboard"> <i class="sidebar-icon ion-ios-speedometer"></i> <span class="sidebar-link-text"> Dashboard</span> </a>
		</li>
		<li>
			<a ui-sref="currentoffers" > <i class="sidebar-icon ion-bag" aria-hidden="true"></i> <span class="sidebar-link-text">BUY ICO TOKENS</span> </a>
		</li>
		<li>
			<a ui-sref="nearbyoffers" > <i class="sidebar-icon ion-bag" aria-hidden="true"></i> <span class="sidebar-link-text">HOW TO BUY</span></a>
		</li>
		<li>
			<a ui-sref="mywallet"> <i class="sidebar-icon ion-arrow-swap" aria-hidden="true"></i> <span class="sidebar-link-text"> MY WALLET</span> </a>
		</li>

		<li>
			<a ui-sref="reports"> <i class="sidebar-icon ion-ios-copy" aria-hidden="true"></i> <span class="sidebar-link-text"> MBTC AFFILIATE</span> </a>
		</li>
		<li >
			<a ui-sref="membership"> <i class="sidebar-icon ion-ribbon-b" aria-hidden="true"></i><span class="sidebar-link-text"> TRANSCATION</span></a>
		</li>
		<li>
			<a ui-sref="aboutUs"> <i class="sidebar-icon ion-card" aria-hidden="true"></i> <span class="sidebar-link-text"> SUPPORT</span> </a>
		</li>
		<li>
			<a ui-sref="contactus"> <i class="sidebar-icon ion-ios-location" aria-hidden="true"></i> <span class="sidebar-link-text"> COMMUNITY</span> </a>
		</li>
		<li>
			<a ui-sref="terms"> <i class="sidebar-icon ion-ios-lightbulb" aria-hidden="true"></i> <span class="sidebar-link-text"> TERM & CONDITION</span> </a>
		</li>
		<li>
			<a ui-sref=""> <i class="sidebar-icon ion-ios-cloud-download" aria-hidden="true"></i> <span class="sidebar-link-text"> DOWNLOAD APP</span> </a>
		</li>
	</ul>
</aside>