<nav class="navbar navbar-default navbar-expand-xl navbar-light" ng-controller="UserCtrl" data-ng-init="get_profile_data();">
        <div class="navbar-header d-flex col">
          <a class="navbar-brand" href="#"> <i class="fa fa-cube"></i> <b>{{app.SITE_NAME}}</b> </a>
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto"> <span class="navbar-toggler-icon"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
         <ul class="nav navbar-nav navbar-right ml-auto">
            <li class="nav-item notification-btn" data-ng-init="get_notification_data();"><a href="#" class="nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
              <div class="notification-area">
                <div class="content">
                  <div class="title">New Notification</div>
                  <div class="notification-content">
                    <div class="notification-title"> <a href="">This is new Notification</a> </div>
                    <div class="notification-description">This is the notification description....</div>
                    <div> <span class="date">12/Nov/2017</span> </div>
                  </div>
                  <div class="notification-devider"></div>
                  <div class="notification-content">
                    <div class="notification-title"> <a href="">This is new Notification</a> </div>
                    <div class="notification-description">This is the notification description....</div>
                    <div> <span class="date">12/Nov/2017</span> </div>
                  </div>
                  <div class="notification-devider"></div>
                  
                </div>
              </div>
            </li>
            <li class="nav-item message-btn" data-ng-init="get_messagee_data();"><a href="#" class="nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a>
              <div class="message-area">
                <div class="content">
                  <div class="title">New Message</div>
                  <div class="message-content">
                    <div class="message-title"> <a href="">This is new Message</a> </div>
                    <div class="message-description">This is the message description....</div>
                    <div> <span class="date">12/Nov/2017</span> </div>
                  </div>
                  <div class="message-devider"></div>
                  <div class="message-content">
                    <div class="message-title"> <a href="">This is new Message</a> </div>
                    <div class="message-description">This is the message description....</div>
                    <div> <span class="date">12/Nov/2017</span> </div>
                  </div>
                  <div class="message-devider"></div>
                  
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img ng-src="{{userInfo.MemberImage}}" alt="{{userInfo.MemberImage}}" title="{{userInfo.MemberImage}}" class="avatar" alt="Avatar"> {{userInfo.MemberName}} <b class="caret"></b> </a>
              <ul class="dropdown-menu">
                <li><a ui-sref="myprofile" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a> </li>
                <li><a ui-sref="settings" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a> </li>
                <li><a data-ng-click="logout()" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>