<div ng-controller="SignupCtrl" layout="column" class="md-inline-form">
  <div class="login-form">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 login-container forget-form">
       <div uib-alert ng-repeat="alert in verifyalerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
      <form  name="verify" id="verify" ng-submit="form.mailverify(verify)" novalidate>
        <div layout-gt-sm="row">
          <h2>Verify Your Account</h2>
          
        </div>
        <p class="text-xs m-t">Enter OTP recieve on your Email.</p>
        <div class="devider"></div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': forgetForm.email.$invalid && forgetForm.email.$dirty, 'has-success': forgetForm.email.$valid }">
            <label>Enter OTP</label>
            <input name="otp" type="number" ng-model="verifyInfo.otp" required="required">
            <div ng-messages="forgetForm.mobile.$dirty && forgetForm.mobile.$error" role="alert" multiple>
              <div ng-message="required">OTP is required.</div>
              <div ng-message="minlength">OTP must be 6 digit long .</div>
              <div ng-message="pattern">Please enter valid OTP .</div>
            </div>
          </md-input-container>
        
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <md-button class="md-raised md-warn" type="submit" ng-disabled="forgetForm.otp.$invalid">Verify</md-button>
          </md-input-container>
        </div>
      </form>
       <div class="p-v-lg text-center">Return to <a ui-sref="login">SIGN IN </a></div> 
    </div>

  </div>
 
</div>