<div ng-controller="configCtrl" layout="column" class="md-inline-form">
  <div class="page-title-admin title">
    <h4><i class="fa fa-long-arrow-left" aria-hidden="true"></i> EDIT SITE CONFIGURATION</h4> </div>
  <div class="devider"></div>
  <div class="page-container content-section col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    <form name="siteconfigForm" ng-submit="add_site_config(config,ev)" novalidate>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': siteconfigForm.configName.$invalid && siteconfigForm.configName.$dirty, 'has-success': siteconfigForm.configName.$valid }">
          <label>SITE CONFIG NAME</label>
          <input name="configName" ng-model="config.configName" required>
          <div ng-messages="siteconfigForm.configName.$dirty && siteconfigForm.configName.$error" >
              <div ng-message="required">Config Name is required.</div>
            </div>
        </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': siteconfigForm.configValue.$invalid && siteconfigForm.configValue.$dirty, 'has-success': siteconfigForm.configValue.$valid }">
          <label>SITE CONFIG VALUE</label>
          <input name="configValue" ng-model="config.configValue" required>
          <div ng-messages="siteconfigForm.configValue.$dirty && siteconfigForm.configValue.$error" >
              <div ng-message="required">Config Value is required.</div>
            </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': siteconfigForm.configDescription.$invalid && siteconfigForm.configDescription.$dirty, 'has-success': siteconfigForm.configDescription.$valid }">
          <label>SITE CONFIG DESCRIPTION</label>
          <input name="configDescription" ng-model="config.configDescription" required>
          <div ng-messages="siteconfigForm.configDescription.$dirty && siteconfigForm.configDescription.$error" >
              <div ng-message="required">Config Value is required.</div>
            </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-button class="md-raised md-primary" type="submit">Submit</md-button>
      </div>
    </form>
  </div>
</div>