<div ng-controller="configCtrl" layout="column" class="md-inline-form">
  <div class="page-title-admin title">
    <h4><i class="fa fa-long-arrow-left" aria-hidden="true"></i> ADD ATTRIBUTE</h4>
  </div>
  <div class="devider"></div>
  <div class="page-container">
    <div class="col-lg-6">
      <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
      <div class="content-section">
      <h5>Add attribute</h5>
      <form name="attributeForm" ng-submit="add_attribute(attribute,ev)" novalidate>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': attributeForm.att_name.$invalid && attributeForm.att_name.$dirty, 'has-success': attributeForm.att_name.$valid }">
            <label>Attribute Name</label>
            <input name="att_name" type="text" ng-model="attribute.attributeName" required>
            <div ng-messages="attributeForm.att_name.$dirty && attributeForm.att_name.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Attribute Name is required.</div>
            </div>
          </md-input-container>
          
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block attribute-store" flex-gt-sm>
            <label>Store</label>
            <br>
            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1"> Default</md-checkbox>   
          </md-input-container>
        </div>


        
        <div layout-gt-sm="row">
          <md-button class="md-raised md-primary" type="submit" ng-disabled="attributeForm.att_name.$invalid">Submit</md-button>
        </div>
      </form>
    </div>
      <div class="devider"></div>
      <div class="devider"></div>
      <div class="content-section">
      <h5>Add Attribute Property</h5>
      <form name="attributepropertyForm" ng-submit="add_attribute(attribute,ev)" novalidate>
        <div layout-gt-sm="row" flex-gt-sm>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': attributepropertyForm.attributeProperty.$invalid && attributepropertyForm.attributeProperty.$dirty, 'has-success': attributepropertyForm.attributeProperty.$valid }">
            <label>Attribute</label>
            <md-select name="attributeProperty" ng-model="attribute.attributeProperty" required>
              <md-option value="0"> Select Parent </md-option>
              <md-option value="1"> Catrgory 1 </md-option>
              <md-option value="2"> Catrgory 2 </md-option>
              <md-option value="3"> Catrgory 3 </md-option>
              <md-option value="4"> Catrgory 4 </md-option>
              <md-option value="5"> Catrgory 5 </md-option>
            </md-select>
            <div ng-messages="attributepropertyForm.attributeProperty.$dirty && attributepropertyForm.attributeProperty.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Attribute Name is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': attributepropertyForm.att_propertyname.$invalid && attributepropertyForm.att_propertyname.$dirty, 'has-success': attributepropertyForm.att_propertyname.$valid }">
            <label>Attribute Property</label>
            <input name="att_propertyname" type="text" ng-model="attribute.attributePropertyName" required>
            <div ng-messages="attributepropertyForm.att_propertyname.$dirty && attributepropertyForm.att_propertyname.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Attribute Name is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block attribute-store" flex-gt-sm>
            <label>Store</label>
            <br>
            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1"> Default</md-checkbox>   
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-button class="md-raised md-primary" type="submit" ng-disabled="attributepropertyForm.att_propertyname.$invalid || attributepropertyForm.attributeProperty.$invalid">Submit</md-button>
        </div>
      </form>
    </div>
    </div>
    <div class="col-lg-6">
      <div class=" content-section">
      <md-content>
        <md-list class="md-dense" flex>
          <md-list-item class="md-3-line"> <img ng-src="images/appwork.png" class="md-avatar" alt="img" />
            <div class="md-list-item-text" layout="column">
              <h3>Category Name</h3>
              <h4>Category Identifire</h4>
              <p>Category description goes here .</p>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-pencil" aria-hidden="true"></i> </md-icon>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-trash" aria-hidden="true"></i> </md-icon>
            </div>
          </md-list-item>
        </md-list>
        <md-list class="md-dense" flex>
          <md-list-item class="md-3-line"> <img ng-src="images/appwork.png" class="md-avatar" alt="img" />
            <div class="md-list-item-text" layout="column">
              <h3>Category Name</h3>
              <h4>Category Identifire</h4>
              <p>Category description goes here .</p>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-pencil" aria-hidden="true"></i> </md-icon>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-trash" aria-hidden="true"></i> </md-icon>
            </div>
          </md-list-item>
        </md-list>
        <md-list class="md-dense" flex>
          <md-list-item class="md-3-line"> <img ng-src="images/appwork.png" class="md-avatar" alt="img" />
            <div class="md-list-item-text" layout="column">
              <h3>Category Name</h3>
              <h4>Category Identifire</h4>
              <p>Category description goes here .</p>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-pencil" aria-hidden="true"></i> </md-icon>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-trash" aria-hidden="true"></i> </md-icon>
            </div>
          </md-list-item>
        </md-list>
        <md-list class="md-dense" flex>
          <md-list-item class="md-3-line"> <img ng-src="images/appwork.png" class="md-avatar" alt="img" />
            <div class="md-list-item-text" layout="column">
              <h3>Category Name</h3>
              <h4>Category Identifire</h4>
              <p>Category description goes here .</p>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-pencil" aria-hidden="true"></i> </md-icon>
              <md-icon class="md-secondary md-hue-3 cat-action"><i class="fa fa-trash" aria-hidden="true"></i> </md-icon>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
    </div>
    
  </div>
</div>
