<div ng-controller="configCtrl" layout="column" class="md-inline-form">
 
 <div class="page-title catalogpagetitle">
    <div class="catalog-head" ng-init="get_sellerStatus_count()"><h5>VIEW AND MANAGE CATEGORY HERE  <a href="#">active ({{activeSeller}})</a> <a href="#">Inactive ({{inactiveSeller}})</a></h5></div>
    <!--div class="pull-right product add-search-product">
      <div class="product add-product-btn">
        <a href="#">active ({{activeSeller}})</a> <a href="#">Inactive ({{inactiveSeller}})</a>
      </div>
    </div-->
  </div>
  <div class="devider"></div>
  <div class="page-container" ng-init="fetch_category()">
    <div class="col-lg-6">
      <div class="content-section">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div> 
        <form name="categoryForm" ng-submit="add_category(categoryForm,ev)">
        <div layout-gt-sm="row" flex-gt-sm>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Parent Category</label>
            <md-select ng-model="category.categoryParent" >
              <md-option  value="0" > Select Parent </md-option>
              <md-option  ng-repeat="cat in categoryData" value="{{cat.categoryId}}" ng-selected="selected"> {{cat.categoryName}} </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': categoryForm.cat_name.$invalid && categoryForm.cat_name.$dirty, 'has-success': categoryForm.cat_name.$valid }">
            <label>Category Name</label>
            <input name="cat_name" type="text" ng-model="category.categoryName" required>
            <div ng-messages="categoryForm.cat_name.$dirty && categoryForm.cat_name.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Category Name is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': categoryForm.cat_identifire.$invalid && categoryForm.cat_identifire.$dirty, 'has-success': categoryForm.cat_identifire.$valid }">
            <label>Category Identifire</label>
            <input name="cat_identifire"  type="text" ng-model="category.categoryIdentifire" required>
            <div ng-messages="categoryForm.cat_identifire.$dirty && categoryForm.cat_identifire.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Category Identifire is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': categoryForm.hsn.$invalid && categoryForm.hsn.$dirty, 'has-success': categoryForm.hsn.$valid }">
            <label>HSN Code</label>
            <input name="hsn" type="text" ng-model="category.categoryHsnCode" required>
            <div ng-messages="categoryForm.hsn.$dirty && categoryForm.hsn.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Commission is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': categoryForm.cat_description.$invalid && categoryForm.cat_description.$dirty, 'has-success': categoryForm.cat_description.$valid }">
            <label>Category Description</label>
            <input name="cat_description" type="text" ng-model="category.categoryDescription" required>
            <div ng-messages="categoryForm.cat_description.$dirty && categoryForm.cat_description.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Category Description is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': categoryForm.cgst.$invalid && categoryForm.cgst.$dirty, 'has-success': categoryForm.cgst.$valid }">
            <label>CGST</label>
            <input name="cgst"  type="text" ng-model="category.categoryCgst" required>
            <div ng-messages="categoryForm.cgst.$dirty && categoryForm.cgst.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">CGST is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': categoryForm.sgst.$invalid && categoryForm.sgst.$dirty, 'has-success': categoryForm.sgst.$valid }">
            <label>SGST</label>
            <input name="sgst" type="text" ng-model="category.categorySgst" required>
            <div ng-messages="categoryForm.sgst.$dirty && categoryForm.sgst.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">SGST is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm >
            <label>IGST</label>
            <input name="igst" type="text" ng-model="category.categoryIgst" readonly value="">
          </md-input-container>
         </div>
        <div layout-gt-sm="row">
          
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': categoryForm.commission.$invalid && categoryForm.commission.$dirty, 'has-success': categoryForm.commission.$valid }">
            <label>Commission</label>
            <input name="commission" type="text" ng-model="category.categoryCommission" required>
            <div ng-messages="categoryForm.commission.$dirty && categoryForm.commission.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Commission is required.</div>
            </div>
          </md-input-container>
          
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': categoryForm.status.$invalid && categoryForm.status.$dirty, 'has-success': categoryForm.status.$valid }">
            <label>Status :</label>
            <br>
            <br>
            <md-radio-group name="status" ng-model="category.categoryStatus" required>
              <md-radio-button value="1" class="">Enable</md-radio-button>
              <md-radio-button value="2" class="">Disable </md-radio-button>
            </md-radio-group>
            <div ng-messages="categoryForm.status.$dirty && categoryForm.status.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Status is required.</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <div class="row col-md-12 text-center">
                  <h5>Product Identity</h5>
                  <div class="upload-icon">
                    <i class="ion-ios-cloud-upload-outline"></i>
                  </div>
                  <h5>Choose a file</h5>
                  <md-input-container class="md-block" flex-gt-sm>
                    <input type="file" value="" id="catImage" name="fileName" ng-model="category.catImage" class="input-btn-hide" onchange="angular.element(this).scope().LoadFileData(this.files)" />
                    <md-button class="md-raised md-warn" ng-click="clickUpload()" >Upload Document</md-button>
                  </md-input-container>
                </div>
        </div>
        
        <div layout-gt-sm="row">
          <md-button class="md-raised md-primary" type="submit" >Submit</md-button>
        </div>
      </form>
      </div>
      
    </div>
    <div class="col-lg-6">
      <md-content>
        <md-list class="md-dense" flex ng-repeat="data in categoryData">
          <md-list-item class="md-3-line"> <img ng-src="{{data.categoryImage}}" class="md-avatar" alt="img" />
            <div class="md-list-item-text" layout="column" >
              <h3>{{data.categoryName}}</h3>
              <h4>{{data.categoryIdentifire}}</h4>
              <p>{{data.categoryContent}}</p>
              <md-icon class="md-secondary md-hue-3 cat-action" ng-click="editCategory(data)"><i class="fa fa-pencil" aria-hidden="true"></i> </md-icon>
              <md-icon class="md-secondary md-hue-3 cat-action" ng-click="deleteCategory(data)"><i class="fa fa-trash" aria-hidden="true"></i> </md-icon>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
</div>