<div ng-controller="configCtrl" layout="column" class="md-inline-form">
  <div class="page-title-admin title">
    <h4><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Dashboard</h4> </div>
  <div class="devider"></div>
  <div class="page-container content-section">
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    <form name="userForm">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Message Title</label>
          <input ng-model="user.firstName" required>
          <div ng-messages="userForm.firstName.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Message title is required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Message Subject</label>
          <input ng-model="user.lastName" required>
          <div ng-messages="userForm.lastName.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Lastname is required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Message Body</label>
          <textarea>Hello</textarea>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Status :</label>
          <br>
          <br>
          <md-radio-group ng-model="data.group1">
            <md-radio-button value="Apple" class=""> Enable </md-radio-button>
            <md-radio-button value="Banana" class=""> Disable </md-radio-button>
          </md-radio-group>
        </md-input-container>
      </div>
      <md-button class="md-raised md-primary" ng-click="submitFrom()">Submit</md-button>
    </form>
  </div>
</div>