<div ng-controller="configCtrl" layout="column" class="md-inline-form">
 <div class="page-title catalogpagetitle">
    <div class="catalog-head" ng-init="get_sellerStatus_count()"><h5> VIEW & MODIFY MESSAGE<a href="#">active ({{activeSeller}})</a> <a href="#">Inactive ({{inactiveSeller}})</a></h5></div>
    <div class="pull-right product add-search-product">
      <!--div class="product add-product-btn">
        <a ui-sref="#"><i class="ion-plus-circled"></i> </a>
      </div-->
    </div>
  </div>
  <div class="devider"></div>
  <div class="page-container ">
    <div class=" col-lg-6 ">
      <div class="content-section">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
        <form name="messageForm" ng-submit="add_message(messageForm,ev)">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': messageForm.messageTitle.$invalid && messageForm.messageTitle.$dirty, 'has-success': messageForm.messageTitle.$valid }">
              <label>Message Title</label>
              <input name="messageTitle" ng-model="message.messageTitle" required>
                <div ng-messages="messageForm.messageTitle.$dirty && messageForm.messageTitle.$error" >
                  <div ng-message="required">Message Title is required.</div>
                </div>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': messageForm.messageSubject.$invalid && messageForm.messageSubject.$dirty, 'has-success': messageForm.messageSubject.$valid }">
              <label>Message Subject</label>
              <input name="messageSubject" ng-model="message.messageSubject" required>
                <div ng-messages="messageForm.messageSubject.$dirty && messageForm.messageSubject.$error" >
                  <div ng-message="required">Message Subject is required.</div>
                </div>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm  ng-class="{'has-error': messageForm.messageContent.$invalid && messageForm.messageContent.$dirty, 'has-success': messageForm.messageContent.$valid }">
              <label>Message Body</label>
              <textarea name="messageContent" ng-model="message.messageContent" required>Hello</textarea>
              <div ng-messages="messageForm.messageContent.$dirty && messageForm.messageContent.$error" >
                  <div ng-message="required">Message Content is required.</div>
                </div>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': messageForm.messageStatus.$invalid && messageForm.messageStatus.$dirty, 'has-success': messageForm.messageStatus.$valid }">
              <label>Status :</label>
              <br>
              <br>
              <md-radio-group name="messageStatus" ng-model="message.messageStatus" required>
                <md-radio-button value="Active"> Enable </md-radio-button>
                <md-radio-button value="InActive"> Disable </md-radio-button>
                
              </md-radio-group>
              <div ng-messages="messageForm.messageStatus.$dirty && messageForm.messageStatus.$error" >
                  <div ng-message="required">Message Status is required.</div>
                </div>
            </md-input-container>
          </div>
           <md-button class="md-raised md-primary" type="submit" ng-style="disable_edit">ADD</md-button>
          <md-button class="md-raised md-primary" type="button" ng-click="update_message(messageForm,ev); " ng-style="enable_edit" style="display:none;">UPDATE</md-button>
          <md-button class="md-raised md-primary" type="reset" >Reset</md-button>
        </form>
      </div>
    </div>
    <div class=" col-lg-6 ">
      <div class="content-section" ng-init="get_message()">
        <form name="getMessage" class="">
        <md-list flex ng-repeat="message in messageData">
          <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text pull-left" layout="column">
              <h3>Title - {{message.messageTitle}} , Subject - {{message.messageSubject}}</h3>
              <h4>{{message.messageContent}}</h4>
              <h6>{{message.messageSentfrom}}</h6>
              <p>Created At- {{message.messageAdd}} </p>
            </div>
            <div class="pull-right msg-action-btn">
             
                <md-button class="md-warn md-raised md-hue-2" ng-click="edit_message(message); ">
                  <md-tooltip> Edit </md-tooltip> 
                  <i class="fa fa-pencil" aria-hidden="true"></i> 
                </md-button>

              <md-button class="md-warn md-raised md-hue-2">
                <md-tooltip> Hide </md-tooltip> <i class="fa fa-eye" aria-hidden="true"></i> </md-button>
            </div>
          </md-list-item>
        </md-list flex>
        
      </form>
      </div>
      
    </div>
  </div>
</div>
