<div ng-controller="configCtrl" layout="column" class="md-inline-form">
	
   <div class="page-title catalogpagetitle">
    <div class="catalog-head" ng-init="get_sellerStatus_count()"><h5>VIEW & MANAGE QRCODE<a href="#">active ({{activeSeller}})</a> <a href="#">Inactive ({{inactiveSeller}})</a></h5></div>
    <div class="pull-right product add-search-product">
      <!--div class="product add-product-btn">
        <a ui-sref="#"><i class="ion-plus-circled"></i> </a>
      </div-->
    </div>
  </div>
  <div class="devider"></div>
  <div class="page-container ">
    <div class="col-lg-6">
    <div class=" col-lg-12">
    	<div class="content-section">
          <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
        <md-subheader class="md-primary">Generate QRcode</md-subheader>
	       <form name="qrcodeForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': qrcodeForm.qrcodePattern.$invalid && qrcodeForm.qrcodePattern.$dirty, 'has-success': messageForm.messageTitle.$valid }">
              <label>Qrcode Pattern</label>
              <input name="qrcodePattern" ng-model="qrcode.qrcodePattern" required>
                <div ng-messages="qrcodeForm.qrcodePattern.$dirty && qrcodeForm.qrcodePattern.$error" >
                  <div ng-message="required">Pattern is required.</div>
                </div>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': qrcodeForm.qrcodeNumber.$invalid && qrcodeForm.qrcodeNumber.$dirty, 'has-success': qrcodeForm.qrcodeNumber.$valid }">
              <label>Number Of Qrcode</label>
              <input name="qrcodeNumber" ng-model="qrcode.qrcodeNumber" type="number" required>
                <div ng-messages="qrcodeForm.qrcodeNumber.$dirty && qrcodeForm.qrcodeNumber.$error" >
                  <div ng-message="required">Number of qrcode is required.</div>
                </div>
            </md-input-container>
          </div>
          <md-button class="md-raised md-primary" type="submit" ng-click="generate_qrcode(qrcodeForm,ev)" ng-style="disable_edit">Genrate</md-button>
        </form>
    </div>
  
</div>
      <div class="devider"></div>
      <div class="devider"></div>
  <div class="col-lg-12 assignform">
      <div class="content-section">
        <div uib-alert ng-repeat="msg in assignsmsg" ng-class="'alert-' + (msg.type || 'warning')" close="closeAssignmsg($index)">{{msg.msg}}</div>
        <md-subheader class="md-primary">Assign QRcode</md-subheader>
         <form name="assignForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': assignForm.assignPattern.$invalid && assignForm.assignPattern.$dirty, 'has-success': assignForm.massignTitle.$valid }">
              <label>User Mobile No</label>
              <input name="userNumber" ng-model="assign.userNumber" type="text" ng-blur="get_user_detail(assign.userNumber)" required>
                <div ng-messages="assignForm.userNumber.$dirty && assignForm.userNumber.$error" >
                  <div ng-message="required">Mobile no is required.</div>
                </div>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': qrcodeForm.qrcodeName.$invalid && assignForm.assignName.$dirty, 'has-success': assignForm.assignName.$valid }">
              <label>Name</label>
              <input name="assignName" ng-model="assign.assignName" type="text" required>
                <div ng-messages="assignForm.assignName.$dirty && assignForm.assignName.$error" >
                  <div ng-message="required">Name of user is required.</div>
                </div>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': qrcodeForm.qrcodeNumber.$invalid && qrcodeForm.qrcodeNumber.$dirty, 'has-success': qrcodeForm.qrcodeNumber.$valid }">
              <label>QrCode Name</label>
              <input name="qrcodeName" ng-model="assign.qrcodeName" type="text" required>
                <div ng-messages="assignForm.qrcodeName.$dirty && assignForm.qrcodeName.$error" >
                  <div ng-message="required">Name of qrcode is required.</div>
                </div>
            </md-input-container>
          </div>
          <md-button class="md-raised md-primary" type="submit" ng-click="assign_qrcode(assignForm,ev)" ng-style="disable_edit">Assign</md-button>
        </form>
    </div>
</div>
</div>

<div class=" col-lg-6 ">
        <div class="content-section">
            <table class="table-responsive table-striped table">
                 <thead>
                   <tr>
                     <th>QRCODE Name</th>
                     <th>Assign To </th>
                     <th>Assign Type</th>
                     <th>Created At</th>
                     <th>QRCODE Image</th>
                     <th>Action</th>
                   </tr>
                 </thead>
                 <tbody ng-init="get_qrcode_data()">
                   <tr ng-repeat="data in qrcodeData">
                      <!--pre>{{configData| json}}</pre-->
                       <td>{{data.qrcodeName}}</td>
                       <td>{{data.qrcodeAssignTo}}</td>
                       <td>{{data.qrcodeAssignType}}</td>
                       <td>{{data.qrcodeDateCreated}}</td>
                       <td><img height="100px" ng-src="./qrcodes/{{data.qrcodeName}}.png"/></td>
                       <td><md-button class="md-warn md-raised md-mini md-hue-2" ng-click='fetch_qrcode(data)'><i class="ion-edit"></i></md-button></td>
                   </tr> 
                 </tbody>
               </table>
        </div>
      </div>



<!--assign form---->

<div class="col-lg-6">

</div>


     
</div>
</div>