<div ng-controller="configCtrl" layout="column" class="md-inline-form">
 <div class="page-title catalogpagetitle">
    <div class="catalog-head" ng-init="get_sellerStatus_count()"><h5> VIEW & MANAGE CONFIGURATION <a href="#">active ({{activeSeller}})</a> <a href="#">Inactive ({{inactiveSeller}})</a></h5></div>
    <div class="pull-right product add-search-product">
      <div class="product add-product-btn">
        
      </div>
    </div>
  </div>
  <div class="devider"></div>

 <div class="page-container">
  <div class="col-lg-6">
          <div class=" content-section">
              <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
                    <form name="siteconfigForm" ng-submit="add_site_config(siteconfigForm,ev)" novalidate>
                          <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': siteconfigForm.configName.$invalid && siteconfigForm.configName.$dirty, 'has-success': siteconfigForm.configName.$valid }">
                              <label>SITE CONFIG NAME</label>
                              <input name="configName" ng-model="config.configName" required>
                              <div ng-messages="siteconfigForm.configName.$dirty && siteconfigForm.configName.$error" >
                                  <div ng-message="required">Config Name is required.</div>
                                </div>
                            </div>
                            <div layout-gt-sm="row">
                              <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': siteconfigForm.configValue.$invalid && siteconfigForm.configValue.$dirty, 'has-success': siteconfigForm.configValue.$valid }">
                                <label>SITE CONFIG VALUE</label>
                                <input name="configValue" ng-model="config.configValue" required>
                                <div ng-messages="siteconfigForm.configValue.$dirty && siteconfigForm.configValue.$error" >
                                    <div ng-message="required">Config Value is required.</div>
                                  </div>
                              </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                              <md-input-container class="md-block" flex-gt-sm ng-class="{'has-error': siteconfigForm.configDescription.$invalid && siteconfigForm.configDescription.$dirty, 'has-success': siteconfigForm.configDescription.$valid }">
                                <label>SITE CONFIG DESCRIPTION</label>
                                <input name="configDescription" ng-model="config.configDescription" required>
                                <div ng-messages="siteconfigForm.configDescription.$dirty && siteconfigForm.configDescription.$error" >
                                    <div ng-message="required">Config Value is required.</div>
                                  </div>
                              </md-input-container>
                            </div>
                            <div layout-gt-sm="row">
                              <md-button class="md-raised md-primary" type="submit" ng-style="disable_edit">Submit</md-button>
                              <md-button class="md-raised md-primary"  ng-click="update_site_config(siteconfigForm,ev)" ng-style="enable_edit" style="display:none;">Update</md-button>
                              <md-button class="md-raised md-primary" type="reset" >Reset</md-button>
                            </div>
                    </form>
              </div>
          </div>
            <div class=" col-lg-6">
      <div class=" content-section">
           <table class="table-responsive table-striped table">
             <thead>
               <tr>
                 <th>Config Name</th>
                 <th>Config Value </th>
                 <th>Config Description</th>
                 <th>Action</th>
               </tr>
             </thead>
             <tbody ng-init="get_config()">
               <tr ng-repeat="data in configData">
                  <!--pre>{{configData| json}}</pre-->
                   <td ng-click='toggleShowInput()' ng-hide='showInput'>{{data.m00_name}}</td>
                   <td ng-show='showInput'>
                   </td>
                   <td ng-click='toggleShowInput()' ng-hide='showInput'>{{data.m00_value}}</td>
                    <td ng-show='showInput'>
                   </td>
                   <td ng-click='' ng-hide='showInput'>{{data.m00_desc}}</td>
                   <td ng-show='showInput'>
                   </td>
                   <td>
                     <md-button class="md-warn md-raised md-mini md-hue-2" ng-click='edit_siteConfig(data);'><i class="ion-edit"></i></md-button>
                   </td>
                 
               </tr>
              
             </tbody>
           </table>
       </div>
   </div>
  </div>




 
 </div>
</div>