<div ng-controller="actionCtrl" layout="column" class="md-inline-form" >
    <div class="page-title title">
	<h4 ><i class="ion-card" aria-hidden="true"></i>   <span>ACTION</span></h4> </div>
    <div class="devider"></div>
	
    <div class="page-container">
		
        <div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-init="userOrder()">
                <md-card>
                    <div layout-gt-sm="row"  class="md-padding">
                        <table class="table table-responsive table-striped">
							<thead>
								<tr>
									<th>
										SN.
									</th>
									<th>
										User Id
									</th>
									<th>
										Name
									</th>
									<th>
										Invoice Id
									</th>
									<th>
										Token
									</th>
									<th>
										Price (In BTC)
									</th>
									<th>
										Status
									</th>
									<th>
										Date
									</th>							
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="order in orderHistory">
									<td>#{{$index + 1}}</td>
									<td>{{order.m11_user_email}}</td>
									<td>{{order.m11_user_name}}</td>
									<td>{{order.t_invoice_id}}</td>
									<td>{{order.t_amount}}</td>
									<td>{{order.t_btc_rate}}</td>
									<td>{{order.t_status}}</td>
									<td>{{ order.t_date}}</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</md-card>
			</div>
		</div>
		
	</div>
</div>